table.yaml {
	.bold       { font-weight: bold; }
	.italic     { font-style: italic; }
	.underline  { text-decoration-line: underline; }
	.strike     { text-decoration-line: line-through; }
	.code       { font-family: monospace; }
	.ins        { color: green; }
	.del        { color: red; }
	.kbd        { font-family: monospace; }
	.left       { text-align: left; }
	.center     { text-align: center; }
	.right      { text-align: right; }
	.pre        { white-space: pre; }

	td > :first-child {
		margin-top: 0;
	}
	td > :last-child {
		margin-bottom: 0;
	}
}
