.audio-player {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	margin: 1rem 0;
	display: flex;
	box-sizing: border-box;
	container-type: normal;
	.left {
		width: 180px;
		height: 180px;
		min-width: 180px;
		align-self: center;
		padding: .5rem;
		box-sizing: border-box;
		img, svg {
			max-width: 100%;
			border-radius: 50%;
			border: 1px solid var(--border-color);
			box-sizing: border-box;
			animation-duration: 12s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-play-state: paused;
			animation-name: spin;
		}
	}
	.right {
		display: flex;
		flex-direction: column;
		border-left: 1px solid var(--border-color);
		padding: .5rem;
		padding-bottom: 0;
		flex: 1;
		audio {
			margin-top: auto;
		}
		.info {
			> p {
				margin: 0;
				display: flex;
				> b {
					min-width: 3em;
				}
			}
		}
	}
	.pause { display: none;}
	.play { display: inline-block; }
	&.playing {
		.left {
			img, svg {
				animation-play-state: running;
			}
		}
		.play { display: none; }
		.pause { display: inline-block; }
	}
	.controls {
		display: flex;
		align-items: center;

		border-top: 1px solid var(--border-color);
		padding: .5rem 0;

		// 向下对齐，上面可以自定义填充。
		margin-top: auto;

		.play, .pause {
			width: 16px;
			height: 16px;
			cursor: pointer;
		}
		.progress-container {
			display: flex;
			align-items: center;
			flex: 1;
			padding: 0 .5rem;
			.progress {
				margin: 0;      // 去掉自带的外边距
				width: 100%;
				max-width: unset;
			}
		}
		.time {
			margin-left: auto;  // 右对齐
		}
	}
}
.audio-player { max-width: 450px; }
@container (max-width: 300px) {
	.audio-player {
		flex-direction: column;
	}
}
@container (max-width: 300px) {
	.audio-player {
		.right {
			border-left: none;
			border-top: 1px solid var(--border-color);
			padding: .5rem;
			padding-bottom: 0;
		}
		.info {
			padding: .5rem 0;
		}
	}
}
@container (max-width: 400px) {
	.audio-player {
		.left {
			width: 140px;
			height: 140px;
			min-width: 140px;
		}
	}
}
