{{define "header" -}}
<!DOCTYPE html> 
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>
        {{- if .Meta.Title -}}
            {{- .Meta.Title -}}
            {{- " - " -}}
        {{- end -}}
        {{- get_config "blog_name" -}}
    </title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="//blog-10005538.cos.ap-shanghai.myqcloud.com/jquery.min.js"></script>
	<script src="/scripts/header.js"></script>
	<script data-ad-client="ca-pub-2998076734917510" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {{ render "custom_header" . }}
</head>
<body class="line-numbers">
<div id="wrapper">
    <!-- 头部开始 -->
	{{ if not .Post }}
    <header id="header">
        <div class="content">
            <div class="padding">
                <div class="sitename"><a href="/">{{get_config "blog_name"}}</a></div>
				{{ with (get_config "blog_desc")}}
				<p class="motto">{{ . }}</p>
				{{ end }}
				{{ if and .Config.Site.Search.Show .Config.Site.Search.EngineID }}
				<form name="search_box" class="search" action="/search" onload="document.search_box.reset()">
					<input name="q" placeholder="Google Search" />
				</form>
				{{ end }}
                <div class="nav">
                    {{menus}}
                </div>
            </div>
        </div>
	</header>
	{{ end }}

	<!-- 头部结束 -->
    <section id="main">
        <div id="content">
{{end}}
