{{define "content_header"}}
<base href="/{{.ID}}/" />
<script>var _post_id = +"{{.ID}}";</script>
<link rel="stylesheet" href="/plugins/highlight/prism.css" />
{{end}}

{{define "content"}}
<article class="post" itemscope itemtype="http://schema.org/Article">
    <div class="title clearfix">
        <h1 itemprop="name">{{ .Title }}</h1>
    </div>

    <div class="entry clearfix" itemprop="articleBody">
{{raw `<!--article begins here-->`}}
{{ .Content }}
{{raw `<!--article ends here-->`}}
        <div class="meta clearfix">
            <p>
                发表于：<span class="value" title="发表时间：{{.DateString}}
修改时间：{{.ModifiedString}}">{{.DateString}}</span>
                ，阅读量：<span class="value">{{.PageView}}</span>
                {{if .Tags}}
                    ，标签：<span class="value">{{.TagsString}}</span>
                {{end}}
            </p>
            <p>版权声明：若非特别注明，本站所有文章均为作者原创，转载请务必注明原文地址。</p>
</div>
    </div><!-- end entry -->

    <div class="related clearfix">
        {{with .RelatedPosts}}
            <h3>相关文章</h3>
            <ol>
                {{range .}}
                    <li><a href="/{{.ID}}/">{{.Title}}</a></li>
                {{end}}
            </ol>
        {{end}}
    </div><!-- end related -->

    <!-- comments begin -->
    <div id="comments" class="clearfix">
        <script src="/scripts/comment.js"></script>
    </div>
    <!-- comments end -->
</article>
{{end}}

{{define "content_footer"}}
<script type="text/javascript" src="/plugins/timeago/timeago.js"></script>
<script type="text/javascript">
    $('.comment-meta .date').timeago();
    TaoBlog.events.add('comment', 'post', function(item) {
        $(item).find('.date').timeago();
    });
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    jax: ["input/TeX", "output/CommonHTML"],
    extensions: ["tex2jax.js"],
    tex2jax: {
        skipTags: [],
        inlineMath: [['$', '$']],
        displayMath: [['$$', '$$']],
    },
    skipStartupTypeset: true,
    //showMathMenu: false,
    menuSettings: {
        zoom: 'Click',
    }
});
</script>
<script>
function hasMath() {
    var has = false;
    $('code:not([class*="lang"])').each(function(_, e){
        var t = $(e).html();
        if(t.startsWith('$') && t.endsWith('$')) {
            has = true;
            // break;
        }
    })
    return has;
}

if(hasMath()) {
    var $body = $('body');
    // jQuery adds _ parameter to skip cache
    var s = document.createElement('script');
    s.src= 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js';
    // s.src = '/plugins/mathjax/MathJax-2.7.4/unpacked/MathJax.js';
    s.async = true;
    $body[0].appendChild(s);

    s = document.createElement('script');
    s.src = '/plugins/mathjax/mathjax.js';
    s.async = true;
    $body[0].appendChild(s);
}
</script>

<script type="text/javascript" src="/plugins/highlight/prism.js" data-manual></script>
<script>
$('pre').each(function(_, re, _){
    var e = $(re);
    var lang = e.attr('lang');
    // https://stackoverflow.com/a/1318091/3628322
    var hasLang = typeof lang !== typeof undefined && lang !== false;
    var hasCode = e.find('>code').length > 0;
    // console.log(re, hasLang, hasCode);
    if(hasLang && !hasCode) {
        var code = $('<code/>').html(e.html());
        code.addClass("language-" + lang);
        e.removeAttr('lang');
        e.html('');
        e.append(code);
        hasCode = true;
    }
    if(hasCode) {
        e.removeClass('code');
        // TODO
        // e.addClass('line-numbers');
        Prism.highlightAllUnder(re);
    }
});
</script>
{{end}}
