{{define "header" -}}
<!DOCTYPE html> 
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>
        {{- if .Title -}}
            {{- .Title -}}
            {{- " - " -}}
        {{- end -}}
        {{- get_config "blog_name" -}}
    </title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="//blog-10005538.file.myqcloud.com/jquery.min.js"></script>
	<script src="/scripts/header.js"></script>
	<script data-ad-client="ca-pub-2998076734917510" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {{.HeaderHook}}
</head>
<body class="line-numbers">
<div id="wrapper">
    <!-- 头部 -->
    <header id="header">
        <div class="content">
            <div class="padding">
                <div class="sitename"><a href="/">{{get_config "blog_name"}}</a></div>
                <p class="motto">{{get_config "blog_desc"}}</p>
                <form name="search_box" class="search" action="/search" onload="document.search_box.reset()">
                    <img src="/images/search.svg" class="icon" /><!--
                    --><input name="q" placeholder="Google Search" />
                </form>
                <div class="nav">
                    <ol>
                        <li><a href="/">首页</a></li>
                        <li><a href="/friends">朋友们</a></li>
                        <li><a href="https://github.com/movsb" target="_blank">GitHub</a></li>
                        <li><a href="/blog">博客程序</a></li>
                        <li><a href="/echo">建议反馈</a></li>
                        <li><a href="/rss">博客订阅</a></li>
                        {{ if .IsAdmin }}
                        <li><a href="/admin/">管理后台</a></li>
                        {{ end }}
                    </ol>
                </div>
            </div>
        </div>

    </header>

    <section id="main">
        <div id="content">
{{end}}
