{{define "home_header"}}
<style>
#main a {
  text-decoration: none;
  color: #005782;
}
#main a:hover {
  text-decoration: underline;
}
#main  a:visited {
  color: #924646;
}
#main  a:focus {
  outline: none;
}

a, input {
  transition: all 0.2s ease-out;
}

input:focus, a:focus, textarea:focus {
  outline: none;
 }

input {
  border: 1px solid #ccc;
  padding: 5px 7px;
 }

#content > ul, .status > ul, #all-posts {
    list-style: none;
    padding-left: 2em;
    margin-left: 0;
}

/* TODO 这个最大宽度应该是变量 */
@media screen and (max-width: 850px) {
#content > ul, .status > ul, #all-posts {
    padding-left: 0px;
}
}
</style>
{{end}}

{{define "home"}}
<h2>近期文章</h2>
<ul>
{{range .LatestPosts}}
    <li><a href="{{.Link}}">{{.Title}}</a></li>
{{end}}
</ul>

<p id=all-posts><a href="/posts">所有文章...</a></p>

<h2>近期评论</h2>
<ul>
{{range .LatestComments}}
    <li style="margin-bottom: 8px; overflow: hidden;">
        <b>{{.Author}}</b>：{{.Content}}
        <span style="float: right;">《<a href="/{{.PostID}}/#comments">{{.PostTitle}}</a>》</span>
    </li>
{{end}}
</ul>

<div class="status">
    <h2>状态</h2>
    <ul>
        <li>服务器开始运行于2014年12月24日，已运行 <span id="server-run-time">?</span> 天。</li>
        <li>博客归档：文章数：{{.PostCount}}，页面数：{{.PageCount}}，评论数：{{.CommentCount}}。</li>
    </ul>
</div>
{{end}}

{{define "home_footer"}}

{{end}}
