{{define "custom_header"}}
<base href="/{{.Post.Post.ID}}/" />
<script>var _post_id = +"{{.Post.Post.ID}}";</script>
<link rel="stylesheet" href="/plugins/highlight/prism.css" />
{{end}}

{{ $dot:=. }}
{{ render "header" . }}
<article class="post">
	{{ with .Post.Post }}
    <h1 class="title clearfix">{{ .Title }}</h1>
    <div class="entry clearfix">
{{raw `<!--article begins here-->`}}
{{ .Content }}
{{raw `<!--article ends here-->`}}
		{{ $reward := $dot.Config.Widgets.Reward }}
		{{ if or $reward.WeChat $reward.AliPay }}
		<div class="widgets reward" style="text-align: center;">
			<div style="margin-bottom: 1em;">
				<p>如果文章有帮助到你，请我喝杯冰可乐吧～</p>
				<button class="button">打赏作者</button>
			</div>
			<div class="images" style="display: none;">
				{{ if $reward.WeChat }}
				<figure style="display: inline-block;">
					<img style="width: 200px; height: 200px;" src="/{{$reward.WeChat}}" />
					<figcaption>微信 / WeChat</figcaption>
				</figure>
				{{ end }}
				{{ if $reward.AliPay }}
				<figure style="display: inline-block;">
					<img style="width: 200px; height: 200px;" src="/{{$reward.AliPay}}" />
					<figcaption>支付宝 / AliPay</figcaption>
				</figure>
				{{ end }}
			</div>
			<script>
				(function() {
					var btn = document.querySelector('.widgets.reward .button');
					var images = document.querySelector('.widgets.reward .images');
					btn.addEventListener('click', function() {
						images.style.display = images.style.display == 'none' ? 'block' : 'none';
					});
				})();
			</script>
		</div>
		{{ end }}
        <div class="meta clearfix">
            <p>
                发表于：<span class="value" title="发表时间：{{.DateString}}
修改时间：{{.ModifiedString}}">{{.DateString}}</span>
                ，阅读量：<span class="value">{{.PageView}}</span>
                {{if .Tags}}
                    ，标签：<span class="value">{{.TagsString}}</span>
                {{end}}
			</p>
			{{ if $dot.Config.Site.Copyright }}
			<p class="copyright">{{ $dot.Config.Site.Copyright }}</p>
			{{ end }}
</div>
    </div><!-- end entry -->
	{{ end }}
	{{ if $dot.Config.Site.ShowRelatedPosts }}
    <div class="related clearfix">
        <h3>相关文章</h3>
        {{ if $dot.Post.Post.Related }}
        <ol>
        {{ range $dot.Post.Post.Related }}
            <li><a href="/{{.ID}}/">{{.Title}}</a></li>
        {{ end }}
        </ol>
        {{else}}
            <div class="no-related">没有相关文章。</div>
        {{end}}
    </div><!-- end related -->
	{{ end }}
    <!-- comments begin -->
    <div id="comments" class="clearfix">
        <script src="/scripts/comment.js"></script>
    </div>
    <!-- comments end -->
</article>
{{ render "footer" . }}

{{define "custom_footer"}}
{{end}}
