div.divider {
	margin: 1.5em 0;
	border-top: 1px dashed var(--border-color);
	text-align: center;
	line-height: 0;
	overflow: visible;
}
.divider span {
	padding: 0 .3em;
	background-color: var(--color-bg);
	transition: background-color .2s linear;
	color: var(--border-color);
	text-shadow: none;
	font-weight: bold;
	border-radius: var(--border-radius);
}
@media (prefers-color-scheme: dark) {
	.divider span {
		background-color: var(--code-bg);
	}
}
@container (min-width: 850px) {
	div.divider {
		text-align: left;
		span {
			position: relative;
			left: 1em;
		}
	}
}
