div.divider {
	margin: 1.5em 0;
	border-top: 6px double var(--border-color);
	text-align: center;
	line-height: 0;
	overflow: visible;
}
.divider span {
	padding: 0 6px;
	background-color: var(--color-bg);
	transition: background-color .2s linear;
	color: var(--border-color);
	text-shadow: none;
	font-weight: bold;
	// border 导致偏移了一点点，修正一下。
	position: relative;
	top: -3px;
}
