*~
*.swp
.DS_Store
__debug_bin*
/root

# https://stackoverflow.com/a/13953560/3628322
# https://stackoverflow.com/a/53039267/3628322
xcuserdata

/tmp/
/.tmp/
/.vscode/
/posts/
/taoblog.yml
/taoblog
/*.db
/article/
/access.log
/katex
