<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
<p v-if="loading">加载中……<span v-if="error" style="color:red;">失败！</span></p>
<ol>
    <li v-for="post in posts">
        <a :href="'/'+post.id+'/'">{{ post.title }}</a>
    </li>
</ol>
</div>
<script>
var vm = new Vue({
    el: '#app',
    data: {
        loading: true,
        error: false,
        posts: []
    }
});
var xhr = new XMLHttpRequest();
xhr.onload = function() {
    if (xhr.status != 200) {
        vm.error = true;
        alert(xhr.statusText);
        return;
    }

    var posts = JSON.parse(xhr.responseText);
    vm.loading = false;
    vm.posts = posts;
};
xhr.onerror = function() {
    vm.error = true;
} 
xhr.open('GET', '/v1/posts!all');
xhr.send();
</script>
</body>
</html>
