p.alert {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-family: var(--font-mono);
	svg {
		// 与非宽屏模式的 svg only child 冲突了
		// margin-right: .3em;
		margin: 0 .6em 0 0 !important;
		display: inline-block;
		filter: none;
		fill: currentColor;
		border-radius: unset;
	}
}

blockquote:has(p.alert-note) {
	--border-color: #0969da;
}
blockquote:has(p.alert-tip) {
	--border-color: #1a7f37;
}
blockquote:has(p.alert-important) {
	--border-color: #8250df;
}
blockquote:has(p.alert-warning) {
	--border-color: #9a6700;
}
blockquote:has(p.alert-caution) {
	--border-color: #cf222e;
}

blockquote:has(p:is(.alert-note,.alert-tip,.alert-important,.alert-warning,.alert-caution)) {
	border: 1px solid var(--border-color);
	background-color: rgb(from var(--border-color) r g b / .1);
	p.alert { color: var(--border-color); }
}

blockquote:has(p.alert) {
	border-radius: var(--border-radius, 4px);
	p { margin: 1em 0 !important; }
}
