@counter-style square-enclosed {
	system: numeric;
	symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
	prefix: "[";
	suffix: "] ";
}

sup:has(>.footnote-ref) {
	color: var(--accent-color);
	font-family: monospace;
	font-weight: normal;
	font-size: 80%;
	// margin-left: .3em;
	&::before {
		content: "[";
	}
	&::after {
		content: "]";
	}
	&:target {
		background-color: var(--highlight-color);
	}
}

.footnotes {
	font-size: 80%;
	ol {
		list-style-type: square-enclosed;
		padding-left: 30px;
	}
	li {
		&::marker {
			color: inherit;
			font-family: monospace;
		}
		&:target {
			// position: relative;
			// &::before {
			// 	content: "";
				background-color: var(--highlight-color);
			// 	position: absolute;
			// 	left: -3px;
			// 	bottom: 0;
			// 	right: 0;
			// 	top: 0;
			// }
		}
		// 可能会同时出现一个脚注被好几次引用，如果放在前面的话，目前的基于 absolute 的定位
		// 无法顺序、等宽地显示出来，暂时不这样显示。
		// p {
		// 	position: relative;
		// 	margin: 0;
		// 	padding-left: 1em;
		// 	// 学维斯百科放前面
		// 	.footnote-backref {
		// 		position: absolute;
		// 		left: 0;
		// 		top: 0;
		// 	}
		// }
	}
}

div.footnote-preview {
	padding: 0 1em;
	background-color: var(--color-bg);
	border: 2px solid var(--accent-color);
	border-radius: var(--border-radius);
	box-sizing: border-box;
	position: fixed;
	min-width: 100px;
	max-width: min(500px, 80%);
	--anchor-left: 0px;

	&::after {
		content: " ";
		display: inline-block;
		width: 10px;
		height: 10px;
		box-sizing: border-box;
		border-left: 2px solid var(--accent-color);
		border-bottom: 2px solid var(--accent-color);
		transform: rotateZ(-45deg);
		position: absolute;
		bottom: -6px;
		left: var(--anchor-left);
		background-color: var(--color-bg);
	}
}
