body.admin {
	margin: 1em;
	
	&.login, &.profile {
		input, button {
			width: 100%;
				margin: 4px 0 4px;
			max-width: 250px;
		}
	}
}

body.admin.profile {
	.avatar {
		width: 120px;
		height: 120px;
	}
}

body.admin.reorder {
	#list {
		padding: 0;
		list-style-type: none;
		> li {
			display: flex;
			align-items: center;
			margin: 0.2em;
			padding: 0.5em;
			border-radius: var(--border-radius);
			border: 1px solid var(--border-color);
			cursor: grab;
			.handle {
				flex-shrink: 0;
				margin-right: .5em;
				width: 16px;
				height: 16px;
				img {
					filter: invert(50%);
					user-select: none;
				}
			}
			.title {
				flex: 1;
			}
			&.sortable-drag, &.sortable-ghost {
				background-color: var(--highlight-color);
			}
		}
	}
}

body.admin.login {
	margin: 0;
	padding: 1em;
	height: 100vh;
	display: flex;
	box-sizing: border-box;
	background-color: var(--code-bg);
	@media (prefers-color-scheme: dark) {
		background-color: var(--color-bg);
	}
	#wrapper {
		background-color: var(--color-bg);
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);
		margin: auto;
		padding: 1em;
		box-sizing: border-box;
		width: 300px;
		@media (prefers-color-scheme: dark) {
			background-color: var(--code-bg);
		}
		h1 {
			margin: 0;
			padding-bottom: .5em;
			text-align: center;
			border-bottom: 1px solid var(--border-color);
			a {
				color: inherit;
				font-size: 90%;
			}
		}
		button {
			cursor: pointer;
			text-align: center;
		}
		.passkeys {
			height: 100%;
			padding-top: 2em;
			text-align: center;
			> button {
				width: 220px;
				line-height: 2.5em;
			}
		}
		.alts {
			padding-top: 2em;
		}
	}
}

body.admin.editor {
	#workspace {
		margin: 1em 0;

		my-editor {
			min-height: 80dvh;

			.tldraw-app {
				height: 90dvh;
			}
		}
	}

	#tabs {
		display: flex;
		gap: 2px;
		margin-bottom: 8px;

		&.only {
			display: none;
		}

		.tab {
			user-select: none;
			padding: 4px 0px 4px 8px;
			border: 1px solid var(--border-color);
			border-radius: var(--border-radius);
			&:not(.selected) {
				color: rgb(from var(--color-fg) r g b / .6);
			}
			.close {
				padding: 0 5px;
				cursor: pointer;
			}
		}
	}

	#editors {
		> * {
			display: none;
			&.selected {
				display: block;
			}
		}
	}

	textarea {
		display: block;
		width: 100%;
		height: 100%;
		font-family: inherit;
		box-sizing: border-box;
		// 硬是不知道这是哪儿来的
		margin: 0;
		resize: vertical;
	}
	#container {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		#editor-container, #preview-container, #diff-container {
			flex: 1;
			min-width: 300px;
			min-height: 50vh;
			min-height: 50dvh;
			max-height: 90vh;
			max-height: 90dvh;
			// 简单限制一下在手机上的高度。
			@media screen and (max-width: 650px) {
				max-height: 40vh;
			}
		}
		#editor-container {
			font-family: var(--font-mono);
		}

		// 小屏幕下直接占满。
		#editor-container.stretch {
			position: fixed;
			inset: 0;
			background-color: var(--color-bg);
			max-height: unset;
			height: 100vh;
			height: 100dvh;
			z-index: 100;
			.TinyMDE {
				border: none;
				// 总是成为滚动元素。
				// 没生效，注释掉。
				// overflow: scroll;
				// 防止滚动到末尾时把滚动事件向外传递，
				// 这会导致滚动时误触发“键盘收起”动作。
				overscroll-behavior: contain;
			}
		}

		#preview-container, #diff-container {
			padding: var(--textarea-padding);
			border: 1px solid var(--border-color);
			border-radius: var(--border-radius);
			box-sizing: border-box;
			overflow: auto;
		}
		#preview-container {
			container: preview / inline-size;
			// 为了使段落等元素预览时看起来高度和输入框一致。
			> :first-child {
				margin-top: 0;
				> :first-child {
					margin-top: 0;
				}
			}
		}
		#diff-container {
			display: none;
			ins, del {
				color: azure;
			}
			ins {
				text-decoration: none;
				background-color: darkgreen;
			}
			del {
				text-decoration: none;
				background-color: darkred;
			}
		}
		.TinyMDE {
			border: 1px solid var(--border-color);
			padding: var(--textarea-padding);
			border-radius: var(--border-radius);
			tab-size: 4;
			overflow: auto;
		}
	}
	#command-container {
		margin: 1em 0;
	}
	p.status {
		button {
			display: none;
		}
		&.status-partial {
			button {
				display: inline-block;
			}
		}
	}
	dialog[name="set-acl-dialog"] {
		ol {
			list-style-type: none;
			padding: 0;
			max-height: 100%;
			max-height: 300px;
		}
		div {
			text-align: center;
		}
		input {
			margin-right: 8px;
		}
	}
	dialog[name="file-manager"] {
		$buttons-width: 80px;

		// 边框*2 + 边距*2 + gap + .buttons + img*4 + img-padding*2*4 + img-margin*2*4
		width: calc(1px*2 + 10px*2 + 10px + $buttons-width + 80px*4 + 4px*2*4 + 2px*2*4);

		max-width: 100%;
		height: 400px;
		max-height: 100%;
		box-sizing: border-box;

		// 支持拖动改变大小。
		resize: both;
		overflow: auto;

		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		padding: 10px;
		.close {
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			cursor: pointer;
		}
		.wrapper {
			max-height: 100%;
			// overflow: auto;
			display: flex;
			gap: 10px;
			.list {
				flex: 1;
				min-width: 0;
				border-right: 1px solid var(--border-color);
				// 使宽度不受 border 影响。
				margin-right: -1px;
			}
			.buttons {
				font-size: 80%;
				width: $buttons-width;
				min-width: $buttons-width;
				display: flex;
				flex-direction: column;
				gap: 10px;
				> div {
					display: flex;
					flex-direction: column;
				}
			}
			.file-list {
				// 使 max-width: 100% 有效。
				// 我的 父元素是 flex 的右边列，它是 flex: 1 的自动宽度。我希望它内部的子元素不能把 它撑开。
				min-width: 0;
				max-height: 100%;
				overflow: auto;
				display: block;
				ol {
					list-style-type: none;;
					padding: 0;
					margin: 0;
					li {
						padding: 4px;
						margin: .5em 0;
						border-radius: var(--border-radius);
						// box-sizing: border-box;
						// border: 1px solid var(--border-color);
						&:first-child {
							margin-top: 0;
						}
						&:last-child {
							margin-bottom: 0;
						}
						// &:hover {
						// 	background-color: var(--highlight-color);
						// }
						&.selected {
							background-color: var(--highlight-color);
						}
						&.sortable-drag, &.sortable-ghost {
							background-color: var(--highlight-color);
						}
					}
				}

				&.view-tiled {
					ol {
						display: flex;
						flex-wrap: wrap;
						li {
							margin: .1em;
						}
					}
					file-list-item {
						.info {
							display: none;
						}
					}
				}
			}
			file-list-item {
				// 取消Safari浏览器的 Live Text 功能。
				img {
					-webkit-user-select: none; /* Safari/旧版 iOS */
					-webkit-touch-callout: none; /* 禁止长按呼出菜单 */
					user-select: none; /* 其它浏览器 */
					pointer-events: auto; /* 保留点击事件 */
				}
				> div {
					display: flex;
					gap: .5em;
					.preview {
						width: 80px;
						height: 80px;
						flex-shrink: 0;
						> * {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.info {
						flex: 1;
						min-width: 0;
						.path {
							// 前面几个 min-width: 0; 是为了这个而设置的。
							// overflow: hidden;
							// text-overflow: ellipsis;
							// white-space: nowrap;
							margin-bottom: .3em;
							font-size: .9em;
						}
						.details {
							a.button {
								color: inherit;
								cursor: pointer;
								&:visited {
									color: inherit;
								}
							}
							font-size: 0.8em;
							color: dimgray;
							.caption {
								display: none;
							}
							.message {
								display: none;
								&.error {
									color: brown;
								}
							}
							.retry {
								display: none;
							}
						}
					}
				}
				&.finished:hover {
					.details {
						.caption {
							display: block !important;
						}
					}
				}
			}
		}
	}
	dialog[name="file-source-dialog"] {
		textarea {
			margin-bottom: 1em;
			width: 300px;
			height: 150px;
			resize: none;
		}
		> div {
			text-align: right;
		}
	}
	dialog[name=create-file-dialog] {
		select, input[type=text] {
			width: 200px;
		}
	}
	p.geo {
		&.no-data {
			input[name=geo_location] {
				display: none;
			}
			label:nth-child(2) {
				display: none;
			}
			label:nth-child(3) {
				display: none;
			}
		}
		label {
			display: block;
		}
		input[type=text] {
			max-width: 200px;
		}
	}
	div.files {
		li button {
			margin: 0.1em 0.5em;
		}
	}
	.table-editor-wrapper {
		.toolbar {
			font-size: 85%;
			button {
				margin-left: 0;
			}
		}
		.editor {
			overflow: auto;

			> table {
				width: max-content;

				th, td {
					user-select: none;
					-webkit-user-select: none;
				}
				td.selected, th.selected {
					background-color: rgb(from var(--accent-color) r g b / .5);
				}
				td.editing, th.editing {
					background-color: white;
				}
				@media (prefers-color-scheme: dark) {
					td.editing, th.editing {
						background-color: black;
					}
				}
			}
		}
	}
}
