body.admin {
	margin: 1em;
	
	input, button {
		width: 100%;
		margin: 4px 0 4px;
		max-width: 250px;
	}
}

body.admin.editor {
	textarea {
		margin: 4px 0 4px;
		display: block;
		width: 100%;
		min-height: 300px;
	}
}
