body.admin {
	margin: 1em;
	
	&.login, &.profile {
		input, button {
			width: 100%;
				margin: 4px 0 4px;
			max-width: 250px;
		}
	}
}

body.admin.login {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	background-color: var(--code-bg);
	@media (prefers-color-scheme: dark) {
		background-color: var(--color-bg);
	}
	#wrapper {
		background-color: var(--color-bg);
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);
		margin: auto;
		padding: 1em;
		box-sizing: border-box;
		min-width: 300px;
		@media (min-width: 400px) {
			width: 400px;
		}
		@media (max-width: 399px) {
			width: 90%;
		}
		@media (prefers-color-scheme: dark) {
			background-color: var(--code-bg);
		}
		h1 {
			margin: 0;
			padding-bottom: .5em;
			text-align: center;
			border-bottom: 1px solid var(--border-color);
			a {
				color: inherit;
				font-size: 90%;
			}
			flex: 1;
		}
		button {
			cursor: pointer;
			text-align: center;
		}
		.passkeys {
			height: 100%;
			padding-top: 2em;
			text-align: center;
			> button {
				width: 220px;
				line-height: 2.5em;
			}
		}
		.alts {
			padding-top: 2em;
		}
	}
}

body.admin.editor {
	textarea {
		display: block;
		width: 100%;
		height: 100%;
		font-family: inherit;
		box-sizing: border-box;
		// 硬是不知道这是哪儿来的
		margin: 0;
		resize: vertical;
	}
	#container {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		margin: 1em 0;
		#editor-container, #preview-container {
			flex: 1;
			min-width: 300px;
			min-height: 300px;
			max-height: 80vh;
		}
		#editor-container {
			font-family: var(--font-mono);
		}
		#preview-container {
			padding: var(--textarea-padding);
			border: 1px solid var(--border-color);
			border-radius: var(--border-radius);
			box-sizing: border-box;
			overflow: auto;
			container: preview / inline-size;
			// 为了使段落等元素预览时看起来高度和输入框一致。
			> :first-child {
				margin-top: 0;
				> :first-child {
					margin-top: 0;
				}
			}
		}
		.TinyMDE {
			border: 1px solid var(--border-color);
			padding: var(--textarea-padding);
			border-radius: var(--border-radius);
			tab-size: 4;
			overflow: auto;
			// 覆盖默认的自动换行。
			white-space: pre !important;
		}
	}
	#command-container {
		margin: 1em 0;
	}
	p.status {
		button {
			display: none;
		}
		&.status-partial {
			button {
				display: inline-block;
			}
		}
	}
	dialog[name="set-acl-dialog"] {
		ol {
			list-style-type: none;
			padding: 0;
			max-height: 100%;
			max-height: 300px;
		}
		div {
			text-align: center;
		}
		input {
			margin-right: 8px;
		}
	}
	p.geo {
		label {
			display: block;
		}
		input[type=text] {
			max-width: 200px;
		}
	}
	div.files {
		li button {
			margin: 0 0.5em;
		}
	}
}
