// 不管是行内、块级代码，都保留空白。
p > code {
	white-space: pre-wrap;
}

.mono, tt, code {
	font-family: var(--font-mono);
}

pre > code {
	// display: inline-block;
	background: none;
	text-align: left;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	white-space: pre;
	line-height: 1.5;
	max-height: 500px;
	max-height: 50vh;
	tab-size: 4;
	hyphens: none;
}

a > code {
	color: inherit;
}

code {
	color: var(--code-color);
}

@media (prefers-color-scheme: dark) {
	pre > code {
		background-color: transparent !important;
	}
	code {
		color: inherit !important;
	}
}

// 因为现在代码没有背景和边框了，唯有等宽字体。
// 所以为了和普通文字区分，加一个 hover 效果。
:not(pre) > code:hover {
	text-decoration: underline var(--accent-color) wavy;
	// 如果字体 <= 14px，波浪线会非常细，不好看。
	text-decoration-thickness: 1px;
	// 不要间断。
	text-decoration-skip-ink: none;
}
// a 本身有下划线，不需要混合。
a > code:hover {
	text-decoration: none;
}

// 键盘
kbd {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: var(--kbd-padding);
}

// 修复 iOS Safari 字体大小不一致问题。
//
// https://github.com/vaga/hugo-theme-m10c/blob/862c6e941be9bc46ce8adc6a2fa9e984ba647d6f/assets/css/_base.scss#L39
// [Safari 果然是新时代的 IE，果然该死，Mac、iPad、iPho... - 陪她去流浪](https://blog.twofei.com/921/)
code {
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
