body#error {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	background-color: var(--code-bg);
	@media (prefers-color-scheme: dark) {
		background-color: var(--color-bg);
	}
	#wrapper {
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);
		padding: 2em;
		margin: auto;
		background-color: var(--color-bg);
		@media (prefers-color-scheme: dark) {
			background-color: var(--code-bg);
		}
	}
}

#content {
	min-width: 200px;
	max-width: var(--max-width);
	// 开启侧栏后开启
	// article {
	// 	flex: 1;
	// }
	aside.right  {
		// 固定宽度不缩小。
		width: 250px;
		flex-shrink: 0;
		// 不滚动。
		position: sticky;
		top: 0;
		align-self: flex-start;
	}
	// &.post {
		// 开启侧栏后开启
		// 左边文章，右边侧栏。
		// display: flex;
		// flex-direction: row;
	// }
}
body.wide #content {
	max-width: unset;
}
body:not(.wide) {
	&.tweet, &.tweets {
		#content {
			// 按照 Gallery 一行四张图片估：
			// 150px*4 + (gap:1px)*3 + (content padding:1em)*2 + (article padding: 1px)*2
			max-width: calc(150px*4 + 1px*3 + 1em*2 + 1px*2);
		}
	}
}

#content {
    margin: auto;
    padding: 0 1em;
}

/* 文章 */
.post, .pages {
    /* 文章标题 */
    h1 {
        color: var(--title-fg);
    }

    /* 文章元数据 */
    .meta1, .meta2 { 
		color: rgb(from var(--color-fg) r g b / 0.6);
		font-size: 85%;
        a {
            color: inherit;
			text-decoration: none;

            &:visited {
                color: inherit;
            }

            &:hover {
                color: var(--accent-color);
            }
        }
    }
	.meta1 {
		margin: -1em 0 1em;
	}
	.meta2 {
		margin: 1em 0px;
	}
}

.entry {
    display: block;
	color: var(--post-fg);
    text-align: justify;

     pre {
        box-sizing: border-box;
        overflow: auto;

        &:not(.code) {
            font-family: inherit;
        }

        &.wrap {
            white-space: pre-wrap;
        }

        &.no-wrap {
            white-space: pre;
        }

        &.mono {
			font-family: var(--font-mono);
        }
    }

    p {
        margin: 1em 0px;
    }

    a {
        &:not([href]) {
            color: inherit;

            &:hover {
                cursor: default;
            }
        }
    }

	.toc {
		display: none;
	}
}

.content {
	a[title] {
		text-decoration-style: dashed;
		text-decoration-line: underline;
	}
}

// 非宽屏模式下图片居中（宽屏模式居中看着太不协调了）
body:not(.wide) .entry {
	p {
		img, svg, video {
			&:not(.emoji):only-child {
				display: block;
				margin: auto;
			}
		}
	}
	iframe {
		display: block;
		margin: auto;
	}
	picture img {
		display: block;
		margin: auto;
	}
}
body:not(.wide) .tweet {
	// 封面图片占满看起来比较舒服。
	img.cover {
		width: 100% !important;
	}
	.live-photo {
		max-width: 100% !important;
	}
}

$blockquote-color: var(--border-color);

blockquote {
	margin: 1em 0 1em 1px;
	padding: 1px 14px;
	opacity: 80%;
	border-left: 4px solid $blockquote-color;
	// background-color: rgb(from $blockquote-color r g b / .3);

	$margin: 5px;

	> p:first-child {
		margin-top: $margin;
	}
	> p:last-child {
		margin-bottom: $margin;
	}
}

.entry {
    object.pdf {
        width: 100%;
        height: 600px;
        height: 80vh;
        opacity: 0.8;
    }

    li {
        text-align: initial;
    }
}

/* 相关文章推荐 */
.post .related {
	margin: 1rem 0px;
	.name {
		font-size: 1.2em;
		border-bottom: 1px solid var(--border-color);
	}
}

.entry {
	h2::after{ content: " 2️⃣";}
	h3::after{ content: " 3️⃣";}
	h4::after{ content: " 4️⃣";}
	h5::after{ content: " 5️⃣";}
	h6::after{ content: " 6️⃣";}
	h2,h3,h4,h5,h6 {
		&::after {
			transition: opacity .2s linear;
			opacity: 0;
		}
		&:hover::after {
			opacity: 1;
		}
	}
}

.content-wrap {
	&.outdated {
		> .disclaimer {
			border: 1px solid var(--border-color);
			border-radius: var(--border-radius);
			padding: 0 1em;
		}
	}
}

article {
	container-type: inline-size;
}

.tweet, .tweets {
	article {
		margin: 1em 0;
		padding: 0 1em;
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);
	}
}

// 自动段落缩进
.entry.auto-indent .content > p, #preview-container.auto-indent > p {
	text-indent: 2em;
}

// 预览的时候不限制媒体的显示尺寸，以方便设定缩放参数。
#preview-container {
	iframe, img, svg, video {
		max-width: unset;
	}
}
