/* 内容 */

#content {
	max-width: var(--max-width);
}

body.wide #content {
	max-width: unset;
}

#content {
    min-width: 200px;
    margin: auto;
    padding: 0 1em;
}

/* 文章 */
.post, .pages {
    /* 文章标题 */
    h1 {
        color: var(--title-fg);
        font-size: 2em;
    }

    /* 文章元数据 */
    .meta1, .meta2 { 
		opacity: 0.5;
        a {
            color: inherit;

            &:visited {
                color: inherit;
            }

            &:hover {
                color: var(--a-fg);
            }
        }
    }
	.meta1 {
		margin: -1em 0 1em;
	}
	.meta2 {
		margin: 1em 0px;
	}
}

@media screen and (max-width: $max_width) {
    .entry img {
        height: unset !important; // TODO 去掉。
        max-width: 100%;
        max-height: 100%;
    }
}

.entry {
    display: block;
	color: var(--post-fg);
    text-align: justify;
	container-type: inline-size;

     pre {
        box-sizing: border-box;
        overflow: auto;

        &:not(.code) {
            font-family: inherit;
        }

        &.wrap {
            white-space: pre-wrap;
        }

        &.no-wrap {
            white-space: pre;
        }

        &.mono {
			font-family: var(--mono-font);
        }
    }

    p {
        margin: 1em 0px;
    }

    a {
        &:not([href]) {
            color: inherit;

            &:hover {
                cursor: default;
            }
        }
    }

	.toc {
		display: none;
	}

	img, svg {
		cursor: zoom-in;
	}
}

// 非宽屏模式下图片居中（宽屏模式居中看着太不协调了）
body:not(.wide) .entry {
	p {
		img, svg {
			&:only-child {
				display: block;
				margin: auto;
			}
		}
	}
}

blockquote {
	margin: 0 .25em;
	border-left: .25em solid var(--border-color);
	padding: 0 .5em;
	opacity: 75%;
}

.entry {
    object.pdf {
        width: 100%;
        height: 600px;
        height: 80vh;
        opacity: 0.8;
    }

    li {
        text-align: initial;
    }
}

/* 相关文章推荐 */
.post .related {
	margin: 1rem 0px;
	.name {
		font-size: 1.4em;
		border-bottom: 1px solid var(--border-color);
	}
}

.entry {
	h2::before { content: "## ";}
	h3::before { content: "### ";}
	h4::before { content: "#### ";}
	h5::before { content: "##### ";}
	h6::before { content: "###### ";}
}

.content-wrap {
	&.outdated {
		> .content {
			display: none;
		}
		> .disclaimer {
			display: block;
			text-align: center;
			line-height: 4;
			font-size: 1.3em;
		}
	}
}

.tweets {
	article {
		// padding: 1em 0;
		border-top: 1px solid var(--border-color);
	}
}
.tweets, .tweet {
	.tweet-media {
		video, img {
			&.too-high {
				max-width: unset;
				max-height: 350px;
				width: unset;
			}
			&.too-wide {
				max-width: 350px;
				max-height: unset;
				height: unset;
			}
		}
		&.has-multiple-media {
			> p {
				display: flex;
				flex-wrap: wrap;
				img, video {
					width: 150px;
					height: 150px !important; // 跟 49 行冲突了
					max-width: 150px;
					max-height: 150px;
					object-fit: cover;
					margin: .1rem;
					border: 1px solid var(--border-color);
				}
			}
		}
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem 0;
	img {
		display: inline-block;
		box-sizing: border-box;
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);
		width: 150px;
		height: 150px !important; // line:49
		object-fit: cover;
		margin: .1rem;
	}
}
@container (max-width: 500px) {
	.gallery img {
		width: 100px;
		height: 100px !important;
	}
}
