// 这个文件没有使用，是备份用的。
// Ruud van Asseldonk
// https://ruudvanasseldonk.com/
// https://github.com/ruuda/blog/blob/master/fonts/readme.md
@font-face {
	font-family: Inconsolata;
	font-size: large;
	src: url(/fonts/mb13e476b.woff2)format("woff2"), url(/fonts/mb13e476b.woff)format("woff")
}

@font-face {
	font-family: Calluna Sans;
	src: url(/fonts/r4922c0e6.woff2)format("woff2"), url(/fonts/r4922c0e6.woff)format("woff")
}

@font-face {
	font-family: Calluna Sans;
	font-weight: bold;
	src: url(/fonts/b931baaed.woff2)format("woff2"), url(/fonts/b931baaed.woff)format("woff")
}

@font-face {
	font-family: Calluna Sans;
	font-style: italic;
	src: url(/fonts/iba5d09b7.woff2)format("woff2"), url(/fonts/iba5d09b7.woff)format("woff")
}

/*
@font-face {
	font-family: Calluna;
	src: url(/fonts/srde0b81e1.woff2)format("woff2"), url(/fonts/srde0b81e1.woff)format("woff")
}

@font-face {
	font-family: Calluna;
	font-weight: bold;
	src: url(/fonts/sb01f8456f.woff2)format("woff2"), url(/fonts/sb01f8456f.woff)format("woff")
}

@font-face {
	font-family: Calluna;
	font-style: italic;
	src: url(/fonts/si88b15598.woff2)format("woff2"), url(/fonts/si88b15598.woff)format("woff")
}
*/
