button, input, select, textarea {
	transition: all 0.2s ease-out;

	// 默认不要挨着
	margin: 2px;

	// 颜色
	&::-moz-focus-inner {
		border: 0;
	}
	color: inherit;
	background-color: transparent;

	// 边框
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	&:not(:disabled):hover {
		border: 1px solid var(--accent-color);
	}

	// 字体
	font-family: inherit;
	font-size: inherit;
	font-size-adjust: var(--font-size-adjust);
}

// 内边距 & 行高
button, input, select {
	line-height: 2;
}
// 所有类型的按钮
button,input[type=button],input[type=submit],input[type=reset] {
	padding: var(--button-padding);
	&:not(:disabled):hover {
		cursor: pointer;
	}
	&:disabled {
		color: var(--border-color);
	}
}
input {
	padding: var(--input-padding);
}
textarea {
	padding: var(--textarea-padding);
	line-height: inherit;
}

input, textarea {
	&:focus {
		outline: none;
	}
}

// 为什么默认有白色的背景色？
input[type=password] {
	background-color: inherit;
}
input[type=datetime-local] {
	box-sizing: border-box;
}

input[type=checkbox], input[type=range], input[type=radio] {
	accent-color: var(--accent-color);
	color-scheme: light dark;
}
input[type=checkbox] {
	// 有那么一丢丢向上偏移。
	position: relative;
	top: 1px;
}

input[type=text],input[type=password],input[type=email],input[type=url],textarea {
	caret-color: var(--accent-color);
	box-sizing: border-box;

	&:invalid {
		color: rgba(255, 0, 0, 0.6);
	}

	&::placeholder {
		opacity: .45;
	}
}

select {
	// 2px: 比同为 2em 的按钮要窄一点
	// height: calc(2em + 2px);
	line-height: 2;
	padding: var(--button-padding);
	// Safari 显示很奇怪，直接全部去掉。
	appearance: none;
}

// label:has(>input) {
// 	display: inline-flex;
// 	align-items: center;
// }

.icon-loading::before {
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	width: 24px;
	// https://github.com/n3r4zzurr0/svg-spinners/blob/main/svg-css/90-ring-with-bg.svg
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48c3R5bGU+LnNwaW5uZXJfYWpQWXt0cmFuc2Zvcm0tb3JpZ2luOmNlbnRlcjthbmltYXRpb246c3Bpbm5lcl9BdGFCIC43NXMgaW5maW5pdGUgbGluZWFyfUBrZXlmcmFtZXMgc3Bpbm5lcl9BdGFCezEwMCV7dHJhbnNmb3JtOnJvdGF0ZSgzNjBkZWcpfX08L3N0eWxlPjxwYXRoIGQ9Ik0xMiwxQTExLDExLDAsMSwwLDIzLDEyLDExLDExLDAsMCwwLDEyLDFabTAsMTlhOCw4LDAsMSwxLDgtOEE4LDgsMCwwLDEsMTIsMjBaIiBvcGFjaXR5PSIuMjUiLz48cGF0aCBkPSJNMTAuMTQsMS4xNmExMSwxMSwwLDAsMC05LDguOTJBMS41OSwxLjU5LDAsMCwwLDIuNDYsMTIsMS41MiwxLjUyLDAsMCwwLDQuMTEsMTAuN2E4LDgsMCwwLDEsNi42Ni02LjYxQTEuNDIsMS40MiwwLDAsMCwxMiwyLjY5aDBBMS41NywxLjU3LDAsMCwwLDEwLjE0LDEuMTZaIiBjbGFzcz0ic3Bpbm5lcl9halBZIi8+PC9zdmc+');
	filter: invert(50%);
	content: "";
}
