button, input[type=submit] {
	&::-moz-focus-inner {
		border: 0;
	}
	color: inherit;
	background-color: transparent;
}

input[type=text],input[type=password],input[type=email],input[type=url], textarea {
	&:focus {
		outline: none;
	}
}

// 为什么默认有白色的背景色？
input[type=password] {
	background-color: inherit;
}
input[type=datetime-local] {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	input[type=text], input[type=password],input[type=email],input[type=url],input[type=datetime-local], textarea {
		color: var(--color-fg);
		background-color: var(--color-bg);
	}
}

input[type=text], input[type=password],input[type=email],input[type=url], textarea {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: var(--input-padding);
}
button, select, input[type=datetime-local], input[type=submit] {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	height: 2em;
	padding-left: .5em;
	padding-right: .5em;
}
textarea {
	padding: var(--textarea-padding);
	line-height: inherit;
}
input, button, textarea, select {
	font: inherit;
}
input, textarea, button, select {
	&:hover {
		border: 1px solid var(--accent-color);
	}
}

input, textarea, button, select {
	transition: all 0.2s ease-out;
}

input[type=checkbox], input[type=range] {
	accent-color: var(--accent-color);
}
input[type=text],input[type=password],input[type=email],input[type=url],textarea {
	caret-color: var(--accent-color);
	box-sizing: border-box;
	&::placeholder {
		opacity: .45;
	}
}

// 只是为了自定义夜间默认（默认没有）。
// 只有在 Firefox 上看起来比较顺眼，Safari 上和默认的差异比较大。
select {
	color: var(--color-fg);
	background-color: var(--color-bg);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}

