// 默认不要挨着
button, input, textarea, select {
	margin: 2px;
}

// 颜色
button, input, textarea, select {
	&::-moz-focus-inner {
		border: 0;
	}
	color: inherit;
	background-color: transparent;
}

// 边框
button, input, textarea, select {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}

// 内边距 & 行高
button, input {
	line-height: 2;
}
button,input[type=button],input[type=submit],input[type=reset] {
	padding: var(--button-padding);
}
input {
	padding: var(--input-padding);
}
textarea {
	padding: var(--textarea-padding);
	line-height: inherit;
}

// 字体
input, button, textarea, select {
	font-family: inherit;
	font-size: inherit;
}

input, textarea {
	&:focus {
		outline: none;
	}
}

// 为什么默认有白色的背景色？
input[type=password] {
	background-color: inherit;
}
input[type=datetime-local] {
	box-sizing: border-box;
}


input, textarea, button, select {
	&:hover {
		border: 1px solid var(--accent-color);
	}
}

input, textarea, button, select {
	transition: all 0.2s ease-out;
}

input[type=checkbox], input[type=range], input[type=radio] {
	accent-color: var(--accent-color);
}

input[type=text],input[type=password],input[type=email],input[type=url],textarea {
	caret-color: var(--accent-color);
	box-sizing: border-box;
	&::placeholder {
		opacity: .45;
	}
}

select {
	height: 2em;
	padding: var(--input-padding);
}
