body {
    color: var(--color-fg);
    background-color: var(--color-bg);
    margin: 0px auto;
    padding: 0px;
    font: var(--font-size) "Trebuchet MS","Microsoft YaHei",'Noto Sans',sans-serif;
	font-family: "LXGW WenKai";
	font-weight: normal;
}

@media screen and (max-width: $max_width) {
    body {
        text-shadow: 0 0 1px rgba(0,0,0,0.22);
    }
}

.mono, tt, code {
	font-family: var(--mono-font);
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.8rem 0px 1rem;
    padding-bottom: 0.3em;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

/* 不可选 */
.no-sel {
    user-select: none;
    cursor: default;
}

/* 按钮 */
.btn {
    border: none;
    box-sizing: border-box;
    user-select: none;
    padding: 6px;
    cursor: pointer;
    color: var(--button-color-fg);
    transition: all 0s;
    background-color: var(--button-color-bg);

    &:hover {
        background-color: var(--border-color-hover);
    }
}

a {
    text-decoration: none;
    color: var(--a-fg);
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		outline: none;
	}
}

button, input[type=submit] {
    border: none;
    &::-moz-focus-inner {
        border: 0;
    }
}

input[type=text], a, textarea {
    &:focus {
        outline: none;
    }
}
@media (prefers-color-scheme: dark) {
	input[type=text], textarea {
		color: var(--color-fg);
		background-color: var(--color-bg);
	}
}

input[type=text], input[type=submit], textarea, button {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
    padding: 5px 7px;
}

button, input[type=submit] {
	color: inherit;
	background-color: transparent;
}

input[type=text]:hover, input[type=submit]:hover, textarea:hover, button:hover {
    border: 1px solid var(--border-color-hover);
}

a, input, textarea {
	transition: all 0.2s ease-out;
}

pre {
    padding: 1em;
    margin: 1em 0;
    max-height: 600px;
    max-height: 80vh;
    border-radius: var(--border-radius);
	overflow: auto;
}

i, em {
    margin: 0 0.2em;
}

b:not(:first-child) ,
strong:not(:first-child) {
    margin: 0 0.2em;
}

li {
	margin: 0.2em 0;
}

img {
	@media (prefers-color-scheme: dark) {
		filter: brightness(0.7);
		&.transparent {
			/* 从 Firefox 打开一张透明的 PNG 时抄过来的 */
			background: hsl(0,0%,90%);
		}
	}
}

table {
	border-collapse: collapse;
	margin: 1em 0px;
	overflow: auto;

	th {
		background-color: var(--table-head-color);
	}

	td, th {
		border: var(--table-border);
		padding: 0.2em 0.8em;
	}

	&.no-border, &.no-border td {
		border: none;
	}
}

hr {
	border: 0;
	border-bottom: 1px dashed var(--border-color);
}

@keyframes fadeIn {
	0% { opacity: 0; display: block; }
	100% { opacity: 1;}
}

@keyframes fadeOut {
	0% { opacity: 1;}
	100% { opacity: 0; display: none; }
}

.fade-in, .fade-out {
	animation-duration: .5s;
	animation-fill-mode:forwards;
}
.fade-in {
	animation-name: fadeIn;
}
.fade-out {
	animation-name: fadeOut;
}
