body {
    color: var(--color-fg);
    background-color: var(--color-bg);
    margin: 0px auto;
    padding: 0px;
    font: var(--font-size) "Trebuchet MS","Microsoft YaHei",'Noto Sans',sans-serif;
	font-family: "LXGW WenKai";
	font-weight: normal;
	transition: background-color .2s linear;
	line-height: var(--line-height-tight);
}

@media screen and (max-width: $max_width) {
    body {
        text-shadow: 0 0 1px rgba(0,0,0,0.22);
    }
}

.mono, tt, code {
	font-family: var(--mono-font);
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.8rem 0px 1rem;
    padding-bottom: 0.3em;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

/* 不可选 */
.no-sel {
    user-select: none;
    cursor: default;
}

/* 按钮 */
.btn {
    border: none;
    box-sizing: border-box;
    user-select: none;
    padding: 6px;
    cursor: pointer;
    color: var(--button-color-fg);
    transition: all 0s;
    background-color: var(--button-color-bg);

    &:hover {
        background-color: var(--border-color-hover);
    }
}

a {
    text-decoration: none;
    color: var(--a-fg);
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		outline: none;
	}
}

button, input[type=submit] {
	border: none;
	&::-moz-focus-inner {
		border: 0;
	}
	color: inherit;
	background-color: transparent;
}

input[type=text],input[type=password],input[type=email],input[type=url], a, textarea {
    &:focus {
        outline: none;
    }
}
@media (prefers-color-scheme: dark) {
	input[type=text], input[type=password],input[type=email],input[type=url],input[type=datetime-local], textarea {
		color: var(--color-fg);
		background-color: var(--color-bg);
	}
}

input[type=text], input[type=password],input[type=email],input[type=url], input[type=submit],input[type=datetime-local], textarea, button {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: var(--input-padding);
}
textarea {
	padding: var(--textarea-padding);
	line-height: inherit;
}

input[type=text]:hover, input[type=password]:hover,input[type=email]:hover,input[type=url]:hover, input[type=submit]:hover, textarea:hover, button:hover {
    border: 1px solid var(--border-color-hover);
}

a, input, textarea {
	transition: all 0.2s ease-out;
}

input[type=checkbox] {
	accent-color: var(--accent-color);
}
input[type=text],input[type=password],input[type=email],input[type=url],textarea {
	caret-color: var(--accent-color);
	box-sizing: border-box;
	&::placeholder {
		opacity: .45;
	}
}
// 为什么默认有白色的背景色？
input[type=password] {
	background-color: inherit;
}
input[type=datetime-local] {
	box-sizing: border-box;
}

pre {
    padding: 1em;
    margin: 1em 0;
    max-height: 600px;
    max-height: 80vh;
	// 要去掉，只应针对最外层的 pre。
    border-radius: var(--border-radius);
	overflow: auto;
	line-height: var(--line-height-tight);
}

i, em {
    margin: 0 0.2em;
}

b:not(:first-child) ,
strong:not(:first-child) {
    margin: 0 0.2em;
}

figure {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	box-sizing: content-box;
	border: 1px solid transparent;
	border-radius: var(--border-radius);

	&.f-r {
		float: right;
		margin-left: 1em !important;
	}
	@media (prefers-color-scheme: dark) {
		&.transparent {
			/* 从 Firefox 打开一张透明的 PNG 时抄过来的 */
			background: hsl(0,0%,90%);
		}
	}
}

@media (prefers-color-scheme: dark) {
	img, video, iframe {
		filter: brightness(0.7);
	}
}

table {
	border-collapse: collapse;
	margin: 1em 0px;
	overflow: auto;

	th {
		background-color: var(--table-head-color);
	}

	td, th {
		border: var(--table-border);
		padding: 0.2em 0.8em;
	}

	&.no-border, &.no-border td {
		border: none;
	}
}

hr {
	border: 0;
	border-bottom: 1px dashed var(--border-color);
}

// https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style
@counter-style parenthesis {
	system: numeric;
	symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
	suffix: ") ";
}
ul, ol {
	&.reset-list-style-type { list-style-type: initial;     }
	&.marker-minus          { list-style-type: "- ";        }
	&.marker-plus           { list-style-type: "+ ";        }
	&.marker-asterisk       { list-style-type: "* ";        }
	&.marker-period         { list-style-type: decimal;     }
	&.marker-parenthesis    { list-style-type: parenthesis; }
}

iframe {
	border-radius: var(--border-radius);
}

@keyframes fadeIn {
	0% { opacity: 0; display: block; }
	100% { opacity: 1;}
}
@keyframes fadeIn95 {
	0% { opacity: 0; display: block; }
	100% { opacity: .95;}
}
@keyframes fadeOut {
	0% { opacity: 1;}
	100% { opacity: 0; display: none; }
}
@keyframes fadeOut95 {
	0% { opacity: .95;}
	100% { opacity: 0; display: none; }
}

.fade-in, .fade-in-95, .fade-out, .fade-out-95 {
	animation-duration: .5s;
	animation-fill-mode:forwards;
}
.fade-in { animation-name: fadeIn; }
.fade-in-95 { animation-name: fadeIn95; }
.fade-out { animation-name: fadeOut; }
.fade-out-95 { animation-name: fadeOut95; }
