@use "variables";

::selection {
	background-color: var(--selection-background-color);
}

// 开启 CJK 的自动加空白处理。
//
// https://x.com/yisibl/status/1979132340942041270
// https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-autospace
//
// 目前多数浏览器基本只支持 normal，后期可以考虑 replace（自动替换多余的空格字符）。
//
// 另：不确定是否应该全局开启。textarea？code？pre？
:root { text-autospace: normal; }

html, body {
	color: var(--color-fg);
	background-color: var(--color-bg);
	transition: background-color .2s linear;
}

#header {
	background-color: var(--header-color);
}

// https://x.com/i/status/1966041229042348075
:root:has(#header)::after {
	content: "";
	position: fixed;
	inset: 0;
	z-index: -1;
	background: linear-gradient(
		var(--header-color) 20%,
		var(--color-bg) 20%
	);
}

body {
	margin: 0px auto;
	padding: 0px;
	font-size: var(--font-size);
	font-size-adjust: var(--font-size-adjust);
	font-family: var(--font-normal);
	font-weight: normal;
	line-height: var(--line-height-tight);

	// 类似 GitHub 固定链接的长链接会使 Safari 表现异常，
	// 但是火狐不会。比如：https://blog.twofei.com/911/
	// 这篇文章里面的脚注链接。
	// 但是我也不太清楚放在 body 上是不是足够安全。
	overflow-wrap: anywhere;
}

@media screen and (max-width: variables.$max_width) {
    body {
        text-shadow: 0 0 1px rgb(0,0,0,0.22);
    }
}

.mono, tt, code {
	font-family: var(--font-mono);
}

h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0px 1rem;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

/* 不可选 */
.no-sel {
    user-select: none;
    cursor: default;
}

a {
	text-decoration: none;
	color: var(--accent-color);
	transition: all .2s ease-out;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}

pre {
	padding-left: 1em;
    margin: 1em 0;
    max-height: 600px;
    max-height: 80vh;
	// 要去掉，只应针对最外层的 pre。
    border-radius: var(--border-radius);
	overflow: auto;
	line-height: var(--line-height-tight);
}

i, em {
    margin: 0 0.2em;
}

del {
	// 默认的看起来太细了（居然少于1？），有点不清楚。
	text-decoration-thickness: 1px;

	// 稍微留点边距，看起来不那么拥挤。
	margin: 0 2px;
}

table {
	border-collapse: collapse;
	margin: 1em 0px;
	overflow: auto;

	// 不仅是 <code>，<td> 里面的文本也有字体大小不一致的问题。
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	
	// 维斯百科的表格没有 <thead>，所以这里的判断并不是很严格。
	// https://blog.twofei.com/1419/
	// https://blog.twofei.com/1418/
	// tr:first-of-type:has(th):not(:has(td)) {
	// 有些表格可能包含多行表头
	thead:has(tr) {
		position: sticky;
		top: 0;
	}
	tr:has(th):not(:has(td)) {
		position: sticky;
		top: 0;
		z-index: 1;
		th {
			// 这两条语句看起来非常优雅地解决了， sticky th 没有 border 的问题。
			// 但是我不知道为什么要设置 offset（就算 th 没有 border 也要设置）。
			// 我也不知道为什么是 border 的一半，但是看起来在 Firefox/Chrome/Safari 上都工作得很好。
			outline: var(--table-border);
			outline-offset: -.5px;
		}
	}

	th {
		background-color: var(--table-head-color);
		transition: background-color .2s linear;
	}

	th, td {
		padding: 4px 8px;
	}
	&, th, td {
		border: var(--table-border);
	}

	&.no-border, &.no-border td {
		border: none;
	}
}

hr {
	border: 0;
	border-bottom: 1px dashed var(--border-color);
}

details {
	> summary {
		cursor: s-resize;
	}
	&[open] {
		> summary {
			cursor: n-resize;
		}
	}
}

dialog {
	color: var(--color-fg);
	background-color: var(--code-bg);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

@keyframes diminished-background-color {
	to { background-color: #00000000; }
}

dl {
	margin: 1em 0;
	dt {
		font-weight: bold;
		margin-bottom: 1em;
	}
	dd {
		margin: 0;
	}
}
