@use "variables";

::selection {
	background-color: var(--selection-background-color);
}

body {
	color: var(--color-fg);
	background-color: var(--color-bg);
	margin: 0px auto;
	padding: 0px;
	font-size: var(--font-size);
	font-family: "LXGW WenKai", "Trebuchet MS","Microsoft YaHei",'Noto Sans',sans-serif;
	font-weight: normal;
	transition: background-color .2s linear;
	line-height: var(--line-height-tight);

	// 类似 GitHub 固定链接的长链接会使 Safari 表现异常，
	// 但是火狐不会。比如：https://blog.twofei.com/911/
	// 这篇文章里面的脚注链接。
	// 但是我也不太清楚放在 body 上是不是足够安全。
	overflow-wrap: anywhere;
}

body.tweet, body.tweets {
	background-color: var(--code-bg);
}
@media (prefers-color-scheme: dark) {
	body.tweet, body.tweets {
		background-color: var(--color-bg);
	}
}

@media screen and (max-width: variables.$max_width) {
    body {
        text-shadow: 0 0 1px rgba(0,0,0,0.22);
    }
}

.mono, tt, code {
	font-family: var(--mono-font);
}

h1, h2, h3, h4, h5, h6 {
	margin: 1.8rem 0px 1rem;
}
h2, h3, h4, h5, h6 {
	padding-bottom: 0.3em;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

/* 不可选 */
.no-sel {
    user-select: none;
    cursor: default;
}

a, .like-a {
	text-decoration: none;
	color: var(--a-fg);
	transition: all .2s ease-out;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}

pre {
	padding-left: 1em;
    margin: 1em 0;
    max-height: 600px;
    max-height: 80vh;
	// 要去掉，只应针对最外层的 pre。
    border-radius: var(--border-radius);
	overflow: auto;
	line-height: var(--line-height-tight);
}

i, em {
    margin: 0 0.2em;
}

b:not(:first-child) ,
strong:not(:first-child) {
    margin: 0 0.2em;
}

figure {
	text-align: center;
}

iframe {
	display: block;
}

img, svg {
	&.f-r {
		float: right;
		margin-left: 1em !important;
	}
}

@media (prefers-color-scheme: dark) {
	iframe, img, svg, video {
		filter: brightness(.7);
	}
	audio {
		filter: brightness(.6);
	}
}

// 限制图片、视频等的最大大小。
// 注意：iframe 没法自动响应式大小，需要手动根据 size 计算 aspect-ratio。
// 参考：service/modules/renderers/media_size
iframe, img, svg, video {
	max-width: min(500px, 100%);
	height: unset;
	&.too-high {
		max-height: 500px;
		max-width: unset;
		width: unset !important;
	}
	&.too-wide {
		max-width: min(500px, 100%);
		max-height: unset;
		height: unset !important;
	}
}
@container (max-width: 500px) {
	iframe, img, svg, video {
		max-width: 100% !important;
	}
}

table {
	border-collapse: collapse;
	margin: 1em 0px;
	overflow: auto;
	
	// 维斯百科的表格没有 <thead>，所以这里的判断并不是很严格。
	// https://blog.twofei.com/1419/
	// https://blog.twofei.com/1418/
	tr:first-of-type:has(th):not(:has(td)) {
		position: sticky;
		top: 0;
		th {
			// 这两条语句看起来非常优雅地解决了， sticky th 没有 border 的问题。
			// 但是我不知道为什么要设置 offset（就算 th 没有 border 也要设置）。
			// 我也不知道为什么是 border 的一半，但是看起来在 Firefox/Chrome/Safari 上都工作得很好。
			outline: var(--table-border);
			outline-offset: -.5px;
		}
	}

	th {
		background-color: var(--table-head-color);
		transition: background-color .2s linear;
	}

	th, td {
		padding: 4px 8px;
	}
	&, th, td {
		border: var(--table-border);
	}

	&.no-border, &.no-border td {
		border: none;
	}
}

hr {
	border: 0;
	border-bottom: 1px dashed var(--border-color);
}

// https://blog.twofei.com/914/
// https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style
@counter-style parenthesis {
	system: numeric;
	symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
	suffix: ") ";
}
@counter-style square-enclosed {
	system: numeric;
	symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
	prefix: "[";
	suffix: "] ";
}
ul, ol {
	&.marker-minus          { list-style-type: "- ";        }
	&.marker-plus           { list-style-type: "+ ";        }
	&.marker-asterisk       { list-style-type: "* ";        }
	&.marker-period         { list-style-type: decimal;     }
	&.marker-parenthesis    { list-style-type: parenthesis; }
}
.reset-list-style-type      { list-style-type: initial;     }
li::marker                  { color: var(--accent-color);   }

audio, iframe, img, svg, video {
	border-radius: var(--border-radius);
}

details {
	> summary {
		cursor: s-resize;
	}
	&[open] {
		> summary {
			cursor: n-resize;
		}
	}
}

dialog {
	color: var(--color-fg);
	background-color: var(--code-bg);
	border: 1px solid var(--border-color);
}

@keyframes fadeIn {
	0% { opacity: 0; display: block; }
	100% { opacity: 1;}
}
@keyframes fadeIn95 {
	0% { opacity: 0; display: block; }
	100% { opacity: .95;}
}
@keyframes fadeOut {
	0% { opacity: 1;}
	100% { opacity: 0; display: none; }
}
@keyframes fadeOut95 {
	0% { opacity: .95;}
	100% { opacity: 0; display: none; }
}

.fade-in, .fade-in-95, .fade-out, .fade-out-95 {
	animation-duration: .35s;
	animation-fill-mode:forwards;
}
.fade-in { animation-name: fadeIn; }
.fade-in-95 { animation-name: fadeIn95; }
.fade-out { animation-name: fadeOut; }
.fade-out-95 { animation-name: fadeOut95; }

// 其实大部分样式也适用于非 PlantUML。
svg.plantuml {
	&.transparent { background-color: unset !important; }

	padding: 1em !important;
	box-sizing: border-box;

	// 不加会有奇怪的 margin-bottom，不知道哪里来的
	display: block;
	
	// 黑色主题下的背景图。
	// 隐藏：1. 继承主题背景 2. 事件传给 svg 本身。
	&.dark > g > rect:first-child {
		display: none;
	}
	
	// 日夜轮换显示。
	@media (prefers-color-scheme: dark) {
		&:not(.dark) { display: none;}
		&.dark { display: block !important; }
	}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

@keyframes diminished-background-color {
	to { background-color: #00000000; }
}

// SVG
text { cursor: text; }

// 分割线扩展
div.divider {
	margin: 1.5em 0;
	border-top: 1px dashed var(--border-color);
	text-align: center;
	line-height: 0;
	overflow: visible;
}
.divider span {
	padding: 0 .3em;
	background-color: var(--color-bg);
	transition: background-color .2s linear;
	color: var(--border-color);
	text-shadow: none;
	font-weight: bold;
	border-radius: var(--border-radius);
}
@media (prefers-color-scheme: dark) {
	.divider span {
		background-color: var(--code-bg);
	}
}
@container (min-width: 850px) {
	div.divider {
		text-align: left;
		span {
			position: relative;
			left: 1em;
		}
	}
}

// 脚注
.footnotes {
	font-size: 80%;
	ol {
		list-style-type: square-enclosed;
	}
	li {
		&::marker {
			color: inherit;
			font-family: monospace;
		}
		&:target {
			position: relative;
			&::before {
				content: "";
				background-color: var(--highlight-color);
				position: absolute;
				left: -3px;
				bottom: 0;
				right: 0;
				top: 0;
			}
		}
		p {
			position: relative;
			margin: 0;
			padding-left: 1em;
			// 学维斯百科放前面
			.footnote-backref {
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}
