/* 头部 */

#header .content {
	max-width: var(--max-width);
}
body.wide #header .content {
	max-width: unset;
}

#header {
    .content {
        min-width: 200px;
        margin: auto;
        padding: 2em 1em 0;
        overflow: hidden;
		position: relative;

        .sitename {
            margin: 0px;
            color: white;
            font-size: 2em;

            a {
                color: inherit;
                &:hover {
                    text-decoration: none;
                    color: var(--accent-color);
                }
                &:focus {
                    outline: 0;
                }
            }
        }

        .nav {
			margin: 0;
			padding-left: 0px;
			list-style: none;
			display: flex;
			gap: .5em;
            a {
                transition: all 0.2s;
                text-decoration: none;
                color: inherit;

                &:visited {
                    color: inherit;
                }

                &:focus {
                    outline: 0;
                }

                &:active {
                    color: inherit;
                }

                &:hover {
                    color: var(--accent-color);
                }
            }

			> li {
				color: #A0A0A0;
				line-height: 2;
			}
        }

		.search {
			input {
				color: #fff6;
				background-color: transparent;
				border-color: #a9a9a933;
				width: 120px;
			}
		}
    }
}

@media screen and (max-width: 500px) {
    #header {
		.content {
			text-align: center;
		}
		.search {
			margin: .5em;
			input::placeholder {
				text-align: center;
			}
		}
		.nav {
			li:first-child {
				margin-left: auto;
			}
			li:last-child {
				margin-right: auto;
			}
		}
	}
}

@media screen and (min-width: 501px) {
    #header {
        .content {
            .search {
				position: absolute;
				right: 1em;
				top: 2.5em;
            }
			.nav {
				li:first-child {
					margin-left: auto;
				}
			}
        }
    }
}
