@use "variables";

#latest-comment-list, #latest-tweet-list {
	.comment-list {
		padding-left: 0;
		.goto {
			// display: none;
			opacity: 0;
			cursor: pointer;
			transition: opacity .2s linear;
		}
		p:hover {
			.goto {
				opacity: 1;
			}
		}
	}
	p {
		margin: 4px 0;
		line-height: var(--line-height-tight);
		word-break: break-word;
	}
}

#all-posts, #all-tweets {
	list-style: none;
}

@media screen and (max-width: variables.$max_width) {
	#latest-comment-list, .post-list, #status-list, #all-posts, #all-tweets {
		padding-left: 1em;
	}
}

#posts-by-category {
	.group-list {
		display: flex;
		flex-wrap: wrap;
		.group {
			min-width: 350px;
		}
	}
}
