#latest-comment-list, #latest-tweet-list {
	.comment-list {
		padding-left: 0;
		.goto {
			// display: none;
			opacity: 0;
			cursor: pointer;
			transition: opacity .2s linear;
		}
		p:hover {
			.goto {
				opacity: 1;
			}
		}
	}
	p {
		margin: 4px 0;
		line-height: var(--line-height-tight);
		word-break: break-word;
	}
}

#all-posts, #all-tweets {
	list-style: none;
}

@media screen and (max-width: $max_width) {
	#latest-comment-list, #latest-post-list, #latest-tweet-list, #status-list, #all-posts {
		padding-left: 1em;
	}
}
