/* 图片查看 */
#img-view {
    position: fixed;
    z-index: 1000000;
    background-color: rgba(0,0,0,0.88);
	&.transparent {
		@media (prefers-color-scheme: light) {
			background-color: rgba(white, 0.95);
		}
	}
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    cursor: zoom-out;

    > img, > svg {
        cursor: move;
        position: relative;
        left: 0px;
        top: 0px;
		display: none;
		max-width: unset;
		max-height: unset;
		
		// 看大图就不要暗色了。
		filter: none;
	}
	svg text {
		cursor: text;
	}
	
	// table.metadata {
	// 	position: absolute;
	// 	right: 0;
	// 	bottom: 0;
	// }
}

body#error {
	background-color: var(--code-bg);
	@media (prefers-color-scheme: dark) {
		background-color: var(--color-bg);
	}
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	#wrapper {
		background-color: var(--color-bg);
		@media (prefers-color-scheme: dark) {
			background-color: var(--code-bg);
		}
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);
		padding: 2em;
		margin: auto;
	}
}
