:root {
--font-size:                16px;
--mono-font:                "LXGW WenKai Mono", Monaco, Consolas, monospace;
--max-width:                850px;
--border-color-hover:       #e18500;
--border-radius:            4px;
--button-color-fg:          white;
--button-color-bg:          rgba(60,60,60,0.6);
--toolbar-imgview-bg:       rgba(0,0,0,0.85);
--a-fg:                     #e18900;
--box-shadow:               0 0 3px gray;
}

@media (prefers-color-scheme: light) {
:root {
--color-bg:                 white;
--color-fg:                 #292929;
--code-bg:                  #f7f7f7;
--code-border-color:        #e6e6e6;
--border-color:             #ddd;
--title-fg:                 #333;
--post-fg:                  #292929;
--toc-fg:                   #141414;
--toc-bg:                   rgba(255,255,255,0.9);
--table-head-color:         #eee;
--table-border:             1px solid var(--border-color);
--blockquote-color-bg:      var(--code-bg);
}
}

@media (prefers-color-scheme: dark) {
:root {
--color-bg:                 rgb(13,17,23); // from github dark
--color-fg:                 #a4a4a4;
--code-bg:                  #222;
--code-border-color:        transparent;
--border-color:             #666;
--title-fg:                 #eee;
--post-fg:                  #a4a4a4;
--toc-fg:                   #141414;
--toc-bg:                   rgba(255,255,255,0.9);
--table-head-color:         #222;
--table-border:             1px solid var(--border-color);
--blockquote-color-bg:      var(--code-bg);
}
}

$max_width:       850px;

.fg-black    { color: black; }
.fg-blue     { color: blue; }
.fg-green    { color: green; }
.fg-aqua     { color: aqua; }
.fg-red      { color: red; }
.fg-magenta  { color: magenta; }
.fg-yellow   { color: yellow; }
.fg-white    { color: white; }

.bg-black    { background-color: black; }
.bg-blue     { background-color: blue; }
.bg-green    { background-color: green; }
.bg-aqua     { background-color: aqua; }
.bg-red      { background-color: red; }
.bg-magenta  { background-color: magenta; }
.bg-yellow   { background-color: yellow; }
.bg-white    { background-color: white; }
