@font-face {
	font-family: 'MapleMonoNL';
	src: url(fonts/MapleMonoNL-Light.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MapleMonoNL';
	src: url(fonts/MapleMonoNL-LightItalic.woff2) format('woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'MapleMonoNL';
	src: url(fonts/MapleMonoNL-Bold.woff2) format('woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'MapleMonoNL';
	src: url(fonts/MapleMonoNL-BoldItalic.woff2) format('woff2');
	font-weight: bold;
	font-style: italic;
}

:root {
--accent-color:             #ac53ac;
--highlight-color:          rgb(from var(--accent-color) r g b / 55%);
--font-size:                15px;
--font-mono:                "MapleMonoNL", Monaco, Consolas, monospace;
--font-normal:              "MapleMonoNL", Helvetica,Verdana,"Microsoft YaHei",'Noto Sans',sans-serif;
--max-width:                850px;
--border-radius:            4px;
--code-color:               rgb(60,60,60,0.6);
--box-shadow:               0 0 3px gray;
--line-height-loose:        2;
--line-height-tight:        1.5;

--input-padding:            0 5px;
--button-padding:           0 8px;
--textarea-padding:         3px 5px;
--kbd-padding:              3px 8px;

// 其实我并不喜欢修改用户的选中色……
--selection-background-color: var(--highlight-color);
}

// 有些地方需要混用：比如夜间模式的时候查看日间模式效果。
:root {
	--color-bg-light:           white;
	--color-fg-light:           #292929;
	--color-bg-dark:            rgb(13,17,23); // from github dark
	--color-fg-dark:            #a4a4a4;
}

@media (prefers-color-scheme: light) {
:root {
--color-bg:                 var(--color-bg-light);
--color-fg:                 var(--color-fg-light);
--code-bg:                  #f7f7f7;
--code-border-color:        #e6e6e6;
--border-color:             #ddd;
--title-fg:                 #333;
--post-fg:                  #292929;
--table-head-color:         #fafafafa;
--table-border:             1px solid var(--border-color);
--blockquote-color-bg:      var(--code-bg);
--header-color :            black;
}
}

@media (prefers-color-scheme: dark) {
:root {
--color-bg:                 var(--color-bg-dark);
--color-fg:                 var(--color-fg-dark);
--code-bg:                  #1a1a1a;
--code-border-color:        transparent;
--border-color:             #444;
--title-fg:                 #eee;
--post-fg:                  #a4a4a4;
--table-head-color:         #0a0a0ad0;
--table-border:             1px solid var(--border-color);
--blockquote-color-bg:      var(--code-bg);
--header-color :            transparent;
}
}

$max_width:       850px;

.fg-black    { color: black; }
.fg-blue     { color: blue; }
.fg-green    { color: green; }
.fg-aqua     { color: aqua; }
.fg-red      { color: red; }
.fg-magenta  { color: magenta; }
.fg-yellow   { color: yellow; }
.fg-white    { color: white; }

.bg-black    { background-color: black; }
.bg-blue     { background-color: blue; }
.bg-green    { background-color: green; }
.bg-aqua     { background-color: aqua; }
.bg-red      { background-color: red; }
.bg-magenta  { background-color: magenta; }
.bg-yellow   { background-color: yellow; }
.bg-white    { background-color: white; }
