:root {
--accent-color:             #4daac7;
--font-size:                15px;
--mono-font:                "LXGW WenKai Mono", Monaco, Consolas, monospace;
--max-width:                850px;
--border-color-hover:       #4da7c7;
--border-radius:            4px;
--button-color-fg:          white;
--button-color-bg:          rgba(60,60,60,0.6);
--a-fg:                     var(--accent-color);
--box-shadow:               0 0 3px gray;
--line-height-loose:        2;
--line-height-tight:        1.5;

--input-padding:            5px 7px;
--button-padding:           var(--input-padding);
--textarea-padding:         7px;

// 其实我并不喜欢修改用户的选中色……
--selection-background-color:   #4da7c7a7;
}

@media (prefers-color-scheme: light) {
:root {
--color-bg:                 white;
--color-fg:                 #292929;
--code-bg:                  #f7f7f7;
--code-border-color:        #e6e6e6;
--border-color:             #ddd;
--title-fg:                 #333;
--post-fg:                  #292929;
--table-head-color:         #eee;
--table-border:             1px solid var(--border-color);
--blockquote-color-bg:      var(--code-bg);
}
}

@media (prefers-color-scheme: dark) {
:root {
--color-bg:                 rgb(13,17,23); // from github dark
--color-fg:                 #a4a4a4;
--code-bg:                  #222;
--code-border-color:        transparent;
--border-color:             #666;
--title-fg:                 #eee;
--post-fg:                  #a4a4a4;
--table-head-color:         #222;
--table-border:             1px solid var(--border-color);
--blockquote-color-bg:      var(--code-bg);
}
}

$max_width:       850px;

.fg-black    { color: black; }
.fg-blue     { color: blue; }
.fg-green    { color: green; }
.fg-aqua     { color: aqua; }
.fg-red      { color: red; }
.fg-magenta  { color: magenta; }
.fg-yellow   { color: yellow; }
.fg-white    { color: white; }

.bg-black    { background-color: black; }
.bg-blue     { background-color: blue; }
.bg-green    { background-color: green; }
.bg-aqua     { background-color: aqua; }
.bg-red      { background-color: red; }
.bg-magenta  { background-color: magenta; }
.bg-yellow   { background-color: yellow; }
.bg-white    { background-color: white; }
