{{ render "header" . }}

<nav class="navbar navbar-default navbar-fixed-top" style="opacity: .9" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">{{ get_config "blog_name" }}</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
			{{ menus }}
			</ul>
		</div>
	</div>
</nav>

<div class="outer">
	<ul class="list-group">
		{{range .Home.Posts}}
			<li class="list-group-item title">
				<div class="date">{{ .DateString }}</div>
				<a href="{{.Link}}">{{.NonPublic}}{{.Title}}</a>
			</li>
		{{end}}
	</ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

{{ render "footer" . }}
