{{- define "header" -}}
<!DOCTYPE html> 
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>{{ sitePageTitle .Title }}</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="/v3/dynamic/style" />
{{ apply_site_theme_customs }}
<script src="/scripts/header.js"></script>
<script src="/v3/dynamic/script"></script>
{{ render "custom_header" . }}
</head>
<body class="{{ $.BodyClass }}">
<div id="wrapper">
	<!-- 用来移除头部的 margin -->
	<div style="height: 1px; margin-bottom: -1px;"></div>
    <!-- 头部开始 -->
	{{ if not .Post }}
    <header id="header">
        <div class="content">
			<h1 class="sitename"><a href="/">{{ siteName }}</a></h1>
<form name="search_box" class="search" action="/search">
<input name="q" placeholder="Search"/>
<script>
function getSearch() {
	try {
		return new URLSearchParams(location.search).get('q');
	} catch (e) {
		return '';
	}
}
var input = document.querySelector('input[name=q]');
var search = getSearch();
if (search) {
	input.value = getSearch();
	input.focus();
}
</script>
</form>
			<ol class="nav">
				{{menus}}
			</ol>
        </div>
	</header>
	{{ end }}

	<!-- 头部结束 -->
	<div id="content">
{{end}}
