{{- define "header" -}}
<!DOCTYPE html> 
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<link rel="icon" type="image/jpeg" href="/favicon.jpg">
<title>{{ $.Title }}</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="https://npm.elemecdn.com/lxgw-wenkai-webfont/style.css" />
<script src="/scripts/header.js"></script>
{{ render "custom_header" . }}
</head>
<body class="{{ $.BodyClass }}">
<div id="wrapper">
    <!-- 头部开始 -->
	{{ if not .Post }}
    <header id="header">
        <div class="content">
            <div class="padding">
                <div class="sitename"><a href="/">{{ $.SiteName }}</a></div>
{{ if and .Config.Site.Search.Show }}
<form name="search_box" class="search" action="/search">
<input name="q" placeholder="Search"/>
<script>
function getSearch() {
	try {
		return new URLSearchParams(location.search).get('q');
	} catch (e) {
		return '';
	}
}
var input = document.querySelector('input[name=q]');
var search = getSearch();
if (search) {
	input.value = getSearch();
	input.focus();
}
</script>
</form>
{{ end }}
                <div class="nav">
                    <ol>
                    {{menus}}
                    </ol>
                </div>
            </div>
        </div>
	</header>
	{{ end }}

	<!-- 头部结束 -->
	<section id="main">
		<div id="content">
{{end}}
