{{ define "_tweet" }}
{{ $p := $.Partial }}
<article class="post post-{{$p.ID}} {{ $p.OriginClass }}" id="{{$p.ID}}">
<script>
TaoBlog.posts["{{$p.ID}}"] = {{ $.Strip $p }};
</script>
<div class="entry">
	<div class="content">
	{{ $p.Content }}
	</div>
	<div class="meta2">
		<span class="status">{{$p.StatusString}}</span>
		{{ friendlyDateTime $p.Date }}
		{{ with $p.GeoElement }}
			{{ . }}
		{{ end }}
		<span class="comments"><a href="{{ $p.Link }}">{{ $p.CommentString }}</a></span>
		<a href="#content">页首</a>
	</div>
</div>
<!-- comments begin -->
<!-- comments end -->
</article>
{{ end }}
