{{ define "_tweet" }}
<article class="post {{ .OriginClass }}" id="{{.ID}}">
<div class="entry">
	<div class="content">
	{{ .Content }}
	</div>
	<div class="meta2">
		<span class="date">{{ .ShortDateString }}</span>
		{{ with .GeoString }}
		<span class="geo">{{ . }}</span>
		{{ end }}
		<span class="comments"><a href="{{ .Link }}">{{ .CommentString }}</a></span>
		<span class="edit"><a href="/admin/editor?id={{.Id}}">编辑</a></span>
		<a href="#content">页首</a>
	</div>
</div>
<!-- comments begin -->
<!-- comments end -->
</article>
{{ end }}
