{{- define "custom_header"}}
{{end -}}

{{- define "custom_footer"}}

{{end -}}

{{- render "header" . }}
<h2>近期文章</h2>
<ul id="latest-post-list">
{{- range .Home.Posts}}
	<li><a href="{{.Link}}">{{.StatusString}}{{.Title}}</a></li>
{{- end}}
</ul>

<ul id="all-posts">
	<li><a href="/posts">所有文章...</a></li>
</ul>

<h2>近期评论</h2>
{{ $comments := .Home.Comments}}
{{ if $comments }}
	<ul id=latest-comment-list>
	{{range $comment := $comments}}
		<li>
			<a href="/{{.PostID}}/">{{.PostTitle}}</a>
			<ul class=post-comment-list>
			{{- range .Comments}}
				<li><p><b>{{.Author}}</b>：<span>{{.PrettyText}}</span><a class="goto" href="/{{$comment.PostID}}/#comment-{{.Id}}">#</a></p></li>
			{{- end }}
			</ul>
		</li>
	{{end}}
	</ul>
{{ else }}
	<ul>没有评论。</ul>
{{ end }}

{{ if .Config.Site.ShowStatus }}
<div class="status">
	<h2>服务状态</h2>
	<ul id="status-list">
		<li>服务器开始运行于{{ .Config.Site.Since }}，已运行 {{ .Config.Site.Since.Days }} 天。</li>
		{{ with .Home }}
		<li>博客归档：文章数：{{.PostCount}}，页面数：{{.PageCount}}，评论数：{{.CommentCount}}。</li>
		{{ end }}
	</ul>
</div>
{{ end }}

{{ render "footer" . }}
