{{- define "custom_header"}}
{{end -}}

{{- define "custom_footer"}}

{{end -}}

{{- render "header" . }}
<h2>近期文章</h2>
<ul id=latest-post-list>
{{- range .Data.Posts}}
	<li><a href="{{.Link}}">{{.StatusString}}{{.Title}}</a></li>
{{- end}}
</ul>

<ul id="all-posts">
	<li><a href="/posts">所有文章...</a></li>
</ul>

<h2>近期碎念</h2>
<ul id=latest-tweet-list>
{{- range .Data.Tweets}}
	<li><a href="{{.Link}}">{{.StatusString}}{{.Title}}</a></li>
{{- end}}
</ul>

<ul id="all-tweets">
	<li><a href="/tweets">所有碎念...</a></li>
</ul>

<h2>近期评论</h2>
{{ $comments := .Data.Comments}}
{{ if $comments }}
	<ul id=latest-comment-list>
	{{range $comment := $comments}}
		<li>
			<a href="/{{.Post.ID}}/">{{.Post.Title}}</a>
			<ul class="comment-list post-comment-list">
			{{- range .Comments}}
				<li><p><b>{{.Author}}</b>：<span>{{.Content}}</span><a class="goto" href="/{{$comment.Post.ID}}/#comment-{{.Id}}"> #</a></p></li>
			{{- end }}
			</ul>
		</li>
	{{end}}
	</ul>
{{ else }}
	<ul>没有评论。</ul>
{{ end }}

<div class="status">
	<h2>服务状态</h2>
	<ul id="status-list">
		<li>服务器开始运行于{{ siteSince }}，已运行 {{ siteDays }} 天。</li>
		{{ with .Data }}
		<li>博客归档：文章数：{{.PostCount}}，页面数：{{.PageCount}}，评论数：{{.CommentCount}}。</li>
		{{ end }}
		{{ with .Info }}
		<li>运维状态：
			{{ if gt .CertDaysLeft -1 }}
				证书有效期剩余 {{ .CertDaysLeft }} 天
			{{ end }}
			{{ if gt .DomainDaysLeft -1 }}
				，域名有效期剩余 {{ .DomainDaysLeft }} 天
			{{ end }}
			。
		</li>
		{{ end }}
	</ul>
</div>

{{ render "footer" . }}
