{{ render "header" . }}
<h1 style="text-align:center">全部文章列表</h1>
<div class="summary">
{{ with .Posts }}
文章：{{.PostCount}}<span class=sep></span>页面：{{.PageCount}}<span class=sep></span>评论：{{.CommentCount}}<span class=sep></span>浏览：{{.ViewCount}}
{{ end }}
</div>
<table>
<thead>
<tr>
<th class=id width="55px">编号</th>
<th class=title>标题</th>
<th class=date width="135px">发表日期</th>
<th class=page_view width="55px">浏览量</th>
<th class=comments width="55px">评论数</th>
</tr>
</thead>
<tbody>
    {{range .Posts.Posts}}
    <tr>
    <td>{{.ID}}</td>
    <td><a href="/{{.ID}}/" target="_blank" title="{{.Title}}">{{.StatusString}}{{.Title}}</a></td>
    <td>{{.DateString}}</td>
    <td>{{.PageView}}</td>
    <td>{{.Comments}}</td>
    </tr>
    {{end}}
</tbody>
</table>
{{ render "footer" . }}

{{define "custom_header"}}
<style>
table {
    width: 100%;
    text-align: center;
}
td:nth-child(2) {
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0px;
}
@media screen and (max-width: 600px) {
    tr>*:nth-child(3), tr>*:nth-child(4),tr>*:nth-child(5) {
        display: none;
    }
}
.summary {
    text-align: center;
}
.summary .sep {
    margin: 0 1em 0 1em;
}
</style>
{{end}}

{{define "custom_footer"}}
<script>
    if('URLSearchParams' in window) {
        var table = document.getElementsByTagName('table')[0];
        table.addEventListener('click', function(ev) {
            if(ev.target.tagName === 'TH') {
                var th = ev.target;
                var searchParams = new URLSearchParams(location.search);
                var oldSort = (searchParams.get('sort')||'').split('.');
                if(oldSort.length != 2) {
                    oldSort = ['id','desc'];
                }
                var newSort = [th.classList[0], 'asc'];
                if(newSort[0] === oldSort[0]) {
                    newSort[1] = oldSort[1] === 'asc' ? 'desc' : 'asc';
                }
                searchParams.set('sort', newSort.join('.'));
                location.search = searchParams.toString();
            }
        });
    }
</script>
{{end}}
