{{define "custom_header"}}
<base href="/{{.Post.Post.ID}}/" />
<script>
TaoBlog.posts["{{.Post.Post.Id}}"] = {{$.Strip .Post.Post}};
TaoBlog.post_id = +"{{.Post.Post.Id}}";
</script>
{{end -}}

{{- $dot:=. -}}
{{- render "header" . -}}
<article class="post">
	{{ with .Post.Post }}
	<h1 class="title">{{.StatusString}}{{ .Title }}</h1>
	<div class="entry">
	<div class="meta1">
		<a class="sitename" href="/" title="回到主页（快捷键：b）">{{ $.Config.Site.Name }}</a>
		{{ if $.Author }}
		<span class="author">{{ $.Author }}</span>
		{{ end }}
		<span class="date" title="发表时间：{{.DateString}}
修改时间：{{.ModifiedString}}">{{ .DateString }}</span>
		<span class="edit-button"><a href="/admin/editor?id={{.Id}}">编辑</a></span>
		{{ with .Metas.Weixin }}
			<span>在<span class="weixin"><a class="no-external" href="https://mp.weixin.qq.com/s/{{.}}" target="_blank">微信</a></span>上查看</span>
		{{ end }}
		<span>阅读次数：<span class="view">{{ .PageView }}</span></span>
	</div>
{{ if .Outdated }}
<div class="content-wrap outdated">
{{ else }}
<div class="content-wrap">
{{ end }}
<div class="content">
{{raw `<!--article begins here-->`}}
{{ .Content }}
{{raw `<!--article ends here-->`}}
</div>
<div class="disclaimer" style="display: none;">
	<p>这篇文章的内容已被作者标记为“过时”/“需要更新”/“不具参考意义”。</p>
	<button onclick="document.getElementsByClassName('content-wrap')[0].classList.remove('outdated');">仍然查看</button>
</div>
</div>
	</div><!-- end entry -->
	{{if .Tags}}
	<div class="meta2">
		<p><b>标签：</b><span class="value">{{.TagsString}}</span></p>
	</div>
	{{end}}

	{{ end }}

	{{ with $dot.Post.Post.Relates }}
    <div class="related">
		<div class="name">相关文章</div>
        <ul>
        {{ range . }}
            <li><a href="{{.Link}}">{{.Title}}</a></li>
        {{ end }}
        </ul>
    </div><!-- end related -->
	{{ end }}
    <!-- comments begin -->
	<script>TaoBlog.comments = {{ $.Post.CommentsAsJsonArray }};</script>
	<script src="/scripts/comment.js"></script>
    <!-- comments end -->
</article>
{{ render "footer" . }}

{{define "custom_footer"}}
{{end}}
