{{ define "custom_header" }}
<style>
.search-results b {
	margin: unset;
}
.search-results b.highlight {
	color: #fd5b5b;
}
.search-results > ul {
	list-style-type: none;
	padding-left: 0;
}
.search-results p {
	margin: 0 0 2em 0;
}
</style>
{{ end }}
{{ render "header" $ }}
<div class="search-results">
{{ if .Search.Posts }}
<ul>
{{ range $p := .Search.Posts }}
<li>
<a style="font-weight: bold;" href="/{{ $p.Id }}/" target="_blank">{{ $p.Title }}</a>
<p style="font-size: 0.8em;">{{ $p.Content }}</p>
</li>
{{ end }}
</ul>
</div>
{{ else if not .Search.Initialized }}
<div>
<p>搜索引擎尚未完成初始化。</p>
</div>
{{ else }}
<div>
<p>没有搜索结果。</p>
</div>
{{ end }}
{{ render "footer" $ }}
