{{ render "header" .}}

<h1 style="text-align:center">全部标签列表</h1>

<div class=wrap>
{{ range .Tags.Tags }}
<span class="tag"><a target="_blank" href="/tags/{{.Name}}">{{.Name}} · {{.Count}}</a></span>
{{- end }}
</div>

{{ render "footer" . }}

{{define "custom_header"}}
<style>
#content .wrap {
	margin: 1em 0;
}
#content a {
	color: inherit;
}
#content a:visited {
	color: inherit;
}
#content .wrap .tag {
	display: inline-block;
	margin: 0.2em;
	background-color: rgba(220,220,220,0.5);
	padding: .3em .5em;
	border-radius: var(--border-radius);
}
@media (prefers-color-scheme: dark) {
	#content .wrap .tag {
		background-color: rgb(72,72,72);
	}
}
</style>
{{end}}
