{{- $dot:=. -}}
<!DOCTYPE html> 
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>{{ sitePageTitle .Title }}</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="/v3/dynamic/style" />
{{ apply_site_theme_customs }}
<script src="/scripts/header.js"></script>
<script src="/v3/dynamic/script"></script>
</head>
<body class="{{ $.BodyClass }}">
<div id="wrapper">
<div id="content">
<script>
TaoBlog.post_id = +"{{.Post.Post.Id}}";
TaoBlog.posts["{{.Post.Post.Id}}"] = {{ $.Strip .Post.Post }};
</script>
<div class="tweet">
	<article class="post post-{{.Post.Post.Id}} {{.Post.Post.OriginClass}}" id="{{.Post.Post.Id}}">
	<div class="entry">
		<div class="content">
		{{ .Post.Post.Content }}
		</div>
		<div class="meta2">
			{{ if ne .Post.Post.Status "public" }}
				<span class="status">🔒 私密</span>
			{{ end }}
			<a class="sitename" href="/tweets#{{.Post.Post.Id}}">{{ $.TweetName }}</a>
			<span class="author">{{ authorName .Post.Post }}</span>
			{{ friendlyDateTime .Post.Post.Date }}
			{{- with .Post.Post.GeoElement }}
				{{ . }}
			{{- end }}
			{{- with .Post.Post.Origin }}
			<a class="origin" title="{{.Description}}" href="{{.URL}}" target="_blank">来源</a>
			{{- end }}
			<span class="edit"><a href="/admin/editor?id={{.Post.Post.Id}}">编辑</a></span>
		</div>
	</div>
	<!-- comments begin -->
	<script>TaoBlog.comments = {{ $.Post.CommentsAsJsonArray }};</script>
	<script src="/scripts/comment.js"></script>
	<!-- comments end -->
	</article>
</div>
{{ render "footer" . }}
