<!DOCTYPE html> 
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>{{ sitePageTitle .Title }}</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/v3/dynamic/style.css">
{{ apply_site_theme_customs }}
<script src="/scripts/header.js"></script>
<script src="/v3/dynamic/script.js"></script>
</head>
<body class="{{ $.BodyClass }}">
<div id="wrapper">
	<!-- 用来移除头部的 margin -->
	<div style="height: 1px; margin-bottom: -1px;"></div>
<div id="content">
<h1>{{ $.Title }}</h1>
<p>
	<span class="go-home"><a href="/">{{ siteName }}</a></span>
	<span class="create-new"><a href="/admin/editor?new=1">新建</a></span>
</p>
<div class="tweets">
{{ range $i, $t := .Data.Tweets }}
	{{ partial "_tweet" $ . }}
{{ end }}
</div>
{{ render "footer" . }}
