{{- $dot:=. -}}
<!DOCTYPE html> 
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>{{ $.Title }}</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="https://npm.elemecdn.com/lxgw-wenkai-webfont/style.css" />
<script src="/scripts/header.js"></script>
</head>
<body class="{{ $.BodyClass }}">
<div id="wrapper">
<section id="main">
<div id="content">
<h1>{{ $.Meta.Title }}</h1>
<div>
	<span class="comments"><a href="/admin/editor">新建</a></span>
</div>
<hr/>
<div class="tweets" style="margin-bottom: 3em;">
{{ range $i, $t := .Tweets.Tweets }}
	{{ partial "_tweet" $ . }}
	{{ if not ($.Tweets.Last $i)}}
	<hr/>
	{{ end }}
{{ end }}
</div>
{{ render "footer" . }}
