@use "colors";

table.colors {
	.fg, .bg {
		padding: .5em 1em;
	}
	.fg.light {
		background-color: white;
	}
	.fg.dark {
		background-color: black;
	}
	.bg.light {
		color: white;
	}
	.bg.dark {
		color: black;
	}
	pre {
		padding: 0;
	}
}
