<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>文章编辑</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<link rel="icon" type="image/jpeg" href="/favicon.jpg">
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="https://npm.elemecdn.com/lxgw-wenkai-webfont/style.css" />
</head>
<body class="admin editor">
{{ if not $.Post }}
<script>var _post_id = 0;</script>
{{ else }}
<script>
	var _post_id = {{ $.Post.Id }};
	var _modified = {{ $.Post.Modified }};
	var _created = {{ $.Post.Date }};
</script>
{{ end }}
<form>
{{ if $.Post }}
	<textarea name="source">{{ $.Post.Source }}</textarea>
{{ else }}
	<textarea name="source"></textarea>
{{ end }}
	<input type="datetime-local" name="time" value="" />
	<br />
	<input type="submit" value="提交" />
</form>
<script src="editor.js"></script>
</body>
</html>
