{{define "admin_post_edit"}}
<div id="admin-post">
    <form method="POST" id="form-post">
        <div class="post">
            <div class="post-area">
                <div style="margin-bottom: 1em;">
                    <h2>标题</h2>
                    <div>
                    <input style="padding: 8px; width: 100%; box-sizing: border-box;" type="text" name="title" value="{{.Title}}" />
                    </div>
                </div>
                {{if .New}}
                <div class="permalink_id" style="margin-bottom: 1em;">
                    <span>文章ID：</span>
                    <span>{{.ID}}</span>
                </div>
                {{else}}
                <div class="permanlink" style="margin-bottom: 1em;">
                    <span>固定链接：</span>
                    <a id="permalink" href="{{.Link}}">{{.Link}}</a>
                    <script>
                        var new_window = null;
                        $('#permalink').click(function() {
                            if(!new_window || new_window.closed) {
                                new_window = window.open($('#permalink').prop('href'));
                            } else {
                                new_window.location.href = $('#permalink').prop('href');
                            }
                            return false;
                        });
                    </script>
                </div>
                {{end}}
                <div>
                    <h2>内容</h2>
                    <div class="textarea-wrap">
                        <textarea id="source" name="source" wrap="off">
                            {{- if not .New -}}
                                {{- if .Source -}}
                                    {{- .Source -}}
                                {{- else -}}
                                    {{- .Content -}}
                                {{- end -}}
                            {{- end -}}
                        </textarea>
                    </div>
                </div>
                <div>
                    <input type="hidden" name="do" value="{{if .New}}new{{else}}update{{end}}" />
                    <input type="hidden" name="type" value="post" />
                    <input type="hidden" name="id" value="{{.ID}}" />
                </div>
            </div><!-- post-area -->
            <div class="sidebar sidebar-left">

            </div>
        </div><!-- post -->
        <div class="sidebar sidebar-right">
            <div class="widget widget-post">
                <h3>发表</h3>
                <div class="widget-content">
                    <input type="submit" value="发表" />
                    <select name="status">
                        <option value="public" {{if eq .Status `public`}}selected{{end}}>公开</option>
                        <option value="draft" {{if eq .Status `draft`}}selected{{end}}>草稿</option>
                    </select>
                    <select name="source_type">
                        <option value="markdown" {{if eq .SourceType `markdown`}}selected{{end}}>Markdown</option>
                        <option value="html" {{if eq .SourceType `html`}}selected{{end}}>HTML</option>
                    </select>
                </div>
            </div>
            <div class="widget widget-tags">
                <h3>标签</h3>
                <div class="widget-content">
                    <input type="text" name="tags" value="{{.TagStr}}" placeholder="中英文逗号分隔" />
                </div>
            </div>
            <div class="widget widget-files">
                <h3>文件</h3>
                <div class="widget-content">
<label>文件列表：</label>
<ul class="list" style="max-height:200px;overflow:auto;">
</ul>
<label>文件上传：</label>
<span class="count"></span>
<div>
    <input type="file" multiple class="files" style="display:none;"/>
    <button class="refresh">刷新</button>
    <button class="browse">浏览</button>
    <button class="submit">上传</button>
    <progress class="progress clearfix" value="0"></progress>
    <textarea class="copy_area" style="opacity:0;height:0;position:absolute;left:-10000px;"></textarea>
</div>
<script>
    function refresh_files() {
        var pid = $('#form-post input[name="id"]').val();
        $.get('/v1/posts/' + pid + '/files')
        .done(function(data) {
            var files = $('.widget-files .list');
            files.empty();

            data.forEach(function(file) {
                var li = $('<li/>')
                    .css('overflow', 'hidden')
                    .append($('<span />').text(file));
                var btns = $('<span style="float:right;" />');
                if(/\.(jpg|gif|png|bmp)$/i.test(file)) {
                    btns.append('<button class="copy_as_md" title="复制为Markdown">复制</button>');
                }
                btns.append('<button class="delete">删除</button>');
                li.append(btns);
                files.append(li);
            });

            bind_copy_as_md();
            bind_delete();
        })
        .fail(function(x){
            alert(x.responseText);
        });
    }

    $('.widget-files .refresh').click(function(){
        refresh_files();
        return false;
    });

    $('.widget-files .files').on('change', function(e) {
        $('.widget-files .count').text(e.target.files.length + ' 个文件');
    });

    $('.widget-files .browse').click(function(){
        $('.widget-files .files').click();
        return false;
    });

    function bind_delete() {
        $('.widget-files .list .delete').click(function(){
            var li = $(this).parent().parent();
            var name = $(this).parent().prev().text();
            var pid = $('#form-post input[name="id"]').val();
            $.ajax({
                url: '/v1/posts/' + pid + '/files/' + encodeURI(name),
                type: 'DELETE',
                success: function() {
                    li.remove();
                },
                error: function() {
                    alert('删除失败。');
                }
            });
            return false;
        });
    }

    function bind_copy_as_md() {
        var ta = $('.widget-files .copy_area')[0];
        $('.widget-files .list .copy_as_md').click(function() {
            var name = $(this).parent().prev().text();
            var text = '![' + name + '](' + name + ')';
            console.log('Markdown: ' + text);
            ta.value = text;
            ta.focus();
            ta.select();
            try {
                if(!document.execCommand('copy')) {
                    throw -1;
                }
            } catch (e) {
                alert('复制失败。'+e);
            }
            return false;
        });
    }

    $('.widget-files .submit').click(function(){
        var files = $('.widget-files .files')[0].files;

        if(files.length <= 0) {
            alert('请先选择文件再上传。');
            return false;
        }
        
        var data = new FormData();

        // 待上传的文件列表
        for(var i = 0, n = files.length; i < n; i++) {
            var file = files[i];
            data.append('files[]', file);
        }

        // 进度条
        var progress = $('.widget-files .progress');
        progress.attr('value', 0);

        // 当前文章ID（新文章并没有ID，这里先临时使用下一篇文章ID）
        // 所以，不能同时编辑并发表新文章
        var pid = $('#form-post input[name="id"]').val();

        // https://stackoverflow.com/a/8758614/3628322
        $.ajax({
            // Your server script to process the upload
            url: '/v1/posts/' + pid + '/files',
            type: 'POST',

            // Form data
            data: data,

            // Tell jQuery not to process data or worry about content-type
            // You *must* include these options!
            cache: false,
            contentType: false,
            processData: false,

            // Custom XMLHttpRequest
            xhr: function() {
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) {
                    // For handling the progress of the upload
                    myXhr.upload.addEventListener('progress', function(e) {
                        if (e.lengthComputable) {
                            progress.attr({
                                value: e.loaded,
                                max: e.total,
                            });
                        }
                    } , false);
                }
                return myXhr;
            },

            error: function(xhr, except) {
                console.warn(xhr,except);
                alert('ajax error:'+xhr.statusText);
                progress.attr('value', 0);
            },

            success: function() {
                $('.widget-files .files').val("");
                $('.widget-files .count').text("0 个文件");
                refresh_files();
                progress.attr('value', 0);
            },
        });

        return false;
    });
</script>
                </div>
            </div>
            <div class="widget widget-metas">
                <h3>自定义</h3>
                <div class="widget-content">
<label>类型：</label>
<select class="keys">
    <option>&lt;新建&gt;</option>
</select>
<span class="new">
    <input class="key" type="text" style="width: 100px;" />
    <button class="ok">添加</button>
</span>
<textarea class="content" style="margin-top: 10px; height: 200px; display: block;"></textarea>

<input type="hidden" name="metas" value="" />

<script>
(function() {
    var keys = $('.widget-metas .keys');
    var metas = JSON.parse('$metas');
    var newf = $('.widget-metas .new');
    var content = $('.widget-metas .content');

    $('.widget-metas input[name=metas]').val('$metas');

    for(var key in metas) {
        keys.append($('<option>', {value: key, text: key}));
    }

    var prev_key = '';

    function save_prev() {
        if(prev_key) {
            metas[prev_key] = content.val();
        }
    }

    content.on('blur', function() {
        save_prev();
        $('.widget-metas input[name=metas]').val(JSON.stringify(metas));
    });

    keys.on('change', function() {
        var i = this.selectedIndex;


        if(i == 0) {
            newf.css('visibility', 'visible');
            prev_key = '';
            content.val('');
        }
        else {
            newf.css('visibility', 'hidden');
            prev_key = keys[0].options[i].value;
            content.val(metas[prev_key]);
        }

    });

    $('.widget-metas .new .ok').on('click', function() {
        var key = $('.widget-metas .new .key').val().trim();
        if(key == '' || metas.hasOwnProperty(key)) {
            alert('为空或已经存在。');
            return false;
        }

        keys.append($('<option>', {value: key, text: key}));
        keys.val(key);
        prev_key = key;
        content.focus();
        newf.css('visibility', 'hidden');

        return false;
    });
})();
</script>
                </div>
            </div>
            <div class="widget widget-dates">
                <h3>日期</h3>
                <div class="widget-content">
                    <input type="text" name="date" value="{{.Date}}"/><br>
                    <input type="text" name="modified" value="{{.Modified}}" />
                </div>
            </div>
            <div class="widget widget-slug">
                <h3>别名</h3>
                <div class="widget-content">
                    <input type="text" name="slug" value="{{.Slug}}" />
                </div>
            </div>
        </div><!-- sidebar right -->
        <script>
            // TODO 临时代码，在切换源的类型时切换编辑器语法
            $('select[name="source_type"]').change(function() {
                console.log('源类型切换为：', this.value);
                if(typeof codemirror == 'object') {
                    var mode = '';
                    var value = this.value;

                    if(value == 'markdown')
                        mode = 'markdown';
                    else if(value == 'html')
                        mode = 'htmlmixed';

                    codemirror.setOption('mode', mode);
                }
                else {
                    console.warn('codemirror != object, cannot apply syntax.');
                }
            });

            setTimeout(function(){
                $('select[name="source_type"]').change();
            },0);

            $('#form-post').submit(function() {
                var form = document.getElementById('form-post');
                var value = function(name) {
                    return form.elements[name].value;
                };
                var post = {
                    id: value('do') === 'new' ? 0 : +value('id'),
                    title: value('title'),
                    source: value('source'),
                    source_type: value('source_type'),
                    type: value('type'),
                    tags: value('tags').replace('，',',').split(','),
                    metas: value('metas'),
                    category: +value('taxonomy'),
                    slug: value('slug'),
                    date: value('date'),
                    modified: value('modified'),
                };
                if (post.tags.length === 1 && post.tags[0] === "") {
                    post.tags = [];
                }
                console.log(post);
                var url = post.id === 0 ? '/v1/posts' : '/v1/posts/' + post.id;
                $.ajax(url,{
                    type: 'POST',
                    data: JSON.stringify(post),
                    contentType: 'application/json',
                    success: function(data) {
                        console.log(data);
                        location.href = '/admin/post-edit?id='+data;
                    },
                    error: function(xhr) {
                        alert(xhr.responseText);
                    },
                });
                return false;
            });
        </script>
    </form>
</div><!-- admin-post -->
{{end}}
