div.rss-post {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	margin: 1em 0;
	padding: 0 1em;
	p.meta {
		font-size: 80%;
		.mark-read {
			color: currentColor;
			cursor: pointer;
		}
	}
	&.read a {
		color: inherit;
	}
}
