/* old */
pre.code {
	line-height: 1.5em;
}
/* 代码块 */
pre > code {
    display: inline-block;
	background: none;
	font-family: $mono_font;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5em;
    max-height: 600px;
    max-height: 60vh;

	-moz-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* 行内代码 */
:not(pre) > code {
    margin: 2px 3px;
    padding: 1px 4px;
    border-radius: .3em;
    display: inline-block;
    line-height: 1.5em;
    white-space: normal;
    background-color: $post_code_bg;
}
