{{define "home"}}
{{template "header" .}}

<h2>近期文章</h2>
<ul>
{{range .LatestPosts}}
    <li><a href="{{.Link}}">{{.Title}}</a></li>
{{end}}
</ul>

<p style="padding-left:3em;"><a href="/all-posts.html">所有文章...</a></p>

<h2>近期评论</h2>
<ul>
{{range .LatestComments}}
    <li style="margin-bottom: 8px; overflow: hidden;">
        <b>{{.AuthorString}}</b>：{{.Content}}
        <span style="float: right;">《<a href="/{{.PostID}}/#comments">{{.PostTitle}}</a>》</span>
    </li>
{{end}}
</ul>

<div class="status">
    <h2>状态</h2>
    <ul>
        <li>服务器开始运行于2014年12月24日，已运行 <span id="server-run-time">?</span> 天。</li>
        <li>博客归档：文章数：{{.PostCount}}，页面数：{{.PageCount}}，评论数：{{.CommentCount}}。</li>
    </ul>
</div>

{{template "footer" .}}
{{end}}
