body {
	background-color: rgb(69,17,67);
}

#wrapper {
	text-align: center;
	margin: 8em;
	color: white;
}

.recent-posts a {
	color: white;
	text-decoration: none;
}

.recent-posts a:hover {
	text-decoration: underline;
}

