body {
	background-color: rgb(0,121,116);
	font: 13px Consolas,"Microsoft YaHei";
}

#wrapper {
	text-align: center;
	margin: 8em;
	color: white;
}

.recent-posts a {
	color: white;
	text-decoration: none;
}

.recent-posts a:hover {
	text-decoration: underline;
}

