<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>分类管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/style.css">
{{ apply_site_theme_customs }}
<script src="/script.js"></script>
</head>
<body class="admin category">
<div id="wrapper">
<h1>分类管理</h1>
<script>
	function insertCategoryItem(cat) {
		let li = document.createElement('li');
		li.setAttribute('data-id', cat.id);
		let input = document.createElement('input');
		input.setAttribute('type', 'text');
		input.setAttribute('value', cat.name);
		input.setAttribute('autocomplete', 'off');
		li.appendChild(input);
		let button = document.createElement('button');
		button.setAttribute('type', 'button');
		button.classList.add('save');
		button.textContent = '保存';
		li.appendChild(button);
		let loading = document.createElement('span');
		loading.classList.add('loading');
		li.appendChild(loading);
		document.getElementById('category-list').appendChild(li);
	}
</script>
<form id="category-settings">
<h2>分类设置</h2>
<p><label><input type="checkbox" name="show_categories_in_home" autocomplete="off"{{ if .Settings.GroupPostsByCategory }} checked{{ end }}> 在首页上显示分类文章</label></p>
<script>
	const settingsForm = document.getElementById('category-settings');
	settingsForm.elements['show_categories_in_home'].addEventListener('change', async (e) => {
		console.log('设置 show_categories_in_home:', e.target.checked);
		try {
			await PostManagementAPI.updateUserSettings(
				{ group_posts_by_category: e.target.checked },
				{ update_group_posts_by_category: true },
			);
		} catch (err) {
			alert(err);
			e.target.checked = !e.target.checked; // revert the change
		}
	});
</script>
</form>
<form id="new-category">
<h2>新建分类</h2>
<p><label><input type="text" name="name" placeholder="请输入分类名称" required></label></p>
<p><input type="submit" value="保存"></p>
<script>
document.getElementById('new-category').addEventListener('submit', async (e) => {
	e.preventDefault();
	let name = e.target.elements['name'].value.trim();
	try {
		let cat = await PostManagementAPI.createCategory({name})
		e.target.elements['name'].value = '';
		console.log('创建分类成功：', cat);
		insertCategoryItem(cat);
	} catch (e) {
		alert('创建分类失败：' + e);
		return;
	}
});
</script>
</form>
<form id="edit-category">
	<h2>编辑分类</h2>
	<p>分类列表：</p>
	<ul style="list-style: none; padding-left: 0;" id="category-list">
	</ul>
<script>
	{{ .Cats }}.forEach(cat => {
		insertCategoryItem(cat);
	});
	document.querySelector('#edit-category').addEventListener('click', async e => {
		const target = e.target;
		if (target.classList.contains('save')) {
			const li = target.closest('li');
			const loading = li.querySelector('.loading');
			loading.classList.add('icon-loading');
			const id = +li.dataset.id;
			const name = li.querySelector('input');;
			try {
				let cat = await PostManagementAPI.updateCategory(id, {
					category: {
						name: name.value.trim(),
					},
					update_name: true,
				});
				name.value = cat.name;
				li.classList.remove('editing');
			} catch (e) {
				alert('更新分类失败：' + e);
				name.focus();
				return;
			} finally {
				loading.classList.remove('icon-loading');
			}
		}
	});
</script>
</form>
</div>
</body>
</html>
