<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>网站管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/style.css">
<script src="/script.js"></script>
<style>
input {
	margin: 0;
}
input[type="text"] {
	width: 30ch;
}
div.color-boxes {
	display: flex;
	gap: 5px;
	margin-left: 2em;
}
div.color-boxes p {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: 1em;
}
dl p.notes {
	font-size: 80%;
}
</style>
</head>
<body class="admin config">
<div id="wrapper">

<h2>基本信息</h2>
<form id="form-basic" autocomplete="off">
	<dl>
		<dt>网站名字</dt>
		<dd><input type="text" id="name" value="{{ .SiteConfig.Name }}" pattern="[^ ]+.*[^ ]+"></dd>
	</dl>
	<dl>
		<dt>网站描述</dt>
		<dd><input type="text" id="description" value="{{ .SiteConfig.Description }}"></dd>
	</dl>
	<dl>
		<dt>网站首页</dt>
		<dd>
			<p><input type="text" id="home" value="{{ .SiteConfig.Home }}" pattern="https?://\w+(\.\w+)+(:\d+)?/?"></p>
			<p>形如：<code>https://blog.twofei.com</code>，暂时不支持带路径。</p>
		</dd>
	</dl>
	<dl>
		<dt>网站图标</dt>
		<dd>
			<img id="icon" style="cursor: pointer; width: 100px; height: 100px;" class="static" src="{{ .IconDataURL }}">
			<input type="file" id="icon-file" accept="image/jpeg, image/png" style="display: none;">
			<p>点击以替换图标。太大的图标会被裁剪到 {{.IconSize}}x{{.IconSize}} 大小。</p>
		</dd>
	</dl>
	<p>
		<input type="submit" class="bold" value="保存">
		<span id="save-basic-icon"></span>
	</p>
</form>

<hr>

<h2>主题配置</h2>
{{ $t := .ThemeConfig }}
<form id="form-theme" autocomplete="off">
	<dl>
		<dt>普通字体</dt>
		<dd>
			<p>
				<label for="font_custom">font-family：</label>
				<input type="text" name="font_custom" class="font-pattern" value="{{$t.Font.Family}}">
			</p>
			<p class="notes">
				输入逗号分隔的字体名，带空格的字体需要用英文双引号包起来。
			</p>
		</dd>
	</dl>
	<dl>
		<dt>等宽字体</dt>
		<dd>
			<p>
				<label for="mono_custom">font-family：</label>
				<input type="text" name="mono_custom" class="font-pattern" value="{{$t.Font.Mono}}">
			</p>
			<p class="notes">
				输入逗号分隔的字体名，带空格的字体需要用英文双引号包起来。
			</p>
		</dd>
	</dl>
	<dl>
		<dt>字体大小</dt>
		<dd>
			<p>
				<label for="font_size">font-size：</label>
				<input type="text" name="font_size" value="{{$t.Font.Size}}" pattern="|\d+px">
			</p>
			<p class="notes">
				形如：“<code>18px</code>”。
			</p>
		</dd>
	</dl>
	<dl id="accent_color">
		<dt>主题颜色</dt>
		<dd>
			<p>
				<label for="accent_color_text">color：</label>
				<input type="text" name="accent_color_text" value="{{$t.Colors.Accent}}" pattern="#(?:[a-fA-F0-9]{3}|[a-fA-F0-9]{4}|[a-fA-F0-9]{6}|[a-fA-F0-9]{8})">
				<input type="button" name="accent_color_button" value="…">
				<input type="color" name="accent_color_color" value="{{$t.Colors.Accent}}" style="display: none;">
			</p>
			<p class="notes">
				标准的CSS十六进制颜色值。比如：<code>#RGB</code>、<code>#RGBA</code>、<code>#RRGGBB</code>、<code>#RRGGBBAA</code>。
			</p>
			<p>效果预览：</p>
			<div class="color-boxes">
				<p style="color: var(--color-fg-light); background-color: var(--color-bg-light);">日间模式</p>
				<p style="color: var(--color-fg-dark); background-color: var(--color-bg-dark);">夜间模式</p>
			</div>
			<p class="notes">选区颜色以及部分其它高亮色会基于主题颜色，并按60%的不透明度作为相对颜色。</p>
		</dd>
	</dl>
	<p>
		<input type="submit" class="bold" value="保存">
		<span id="save-theme-icon"></span>
	</p>
</form>

<hr>

<h2>其它配置</h2>
{{ $c := .OthersConfig }}
<form id="others-config" autocomplete="off">
	<dl>
		<dt>Whois配置</dt>
		<dd>
			<p class="notes">
				Whois配置用于定时监控站点域名是否有效。
			</p>
			<p>
				<label for="api_layer">APILayer API Key:</label>
				<input type="text" name="api_layer_key" value="{{$c.Whois.ApiLayer.Key}}">
			</p>
			<p class="notes">
				由<a target="_blank" href="https://marketplace.apilayer.com/whois-api">Whois API - APILayer</a>提供的API服务。
			</p>
		</dd>
	</dl>
	<dl>
		<dt>地理位置解析</dt>
		<dd>
			<p class="notes">
				用于自动把文章编写时的数值地理坐标转换成周边兴趣点名字列表以供候选。
			</p>
			<p>
				<label for="gaode_api_key">高德地图 API Key:</label>
				<input type="text" name="gaode_api_key" value="{{$c.Geo.GeoDe.Key}}">
			</p>
			<p class="notes">
				详情查看高德地址官方文档：<a target="_blank" href="https://lbs.amap.com/api/webservice/guide/api/georegeo">地理/逆地理编码-基础 API 文档-开发指南-Web服务 API | 高德地图API</a>。
			</p>
		</dd>
	</dl>
	<p>
		<input type="submit" class="bold" value="保存">
		<span id="save-others-icon"></span>
	</p>
</form>

</div>
<script src="config.js"></script>
</body>
</html>
