<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>草稿管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/style.css">
{{ apply_site_theme_customs }}
<script src="script.js"></script>
</head>
<body class="admin drafts">
<h1>草稿管理</h1>
<table>
<thead>
	<tr>
		<th>编号</th>
		<th>标题</th>
		<th>动作</th>
	</tr>
</thead>
<tbody>
	{{- range .Posts }}
	<tr>
		<td>{{ .Id }} </td>
		<td>{{ .Title }}</td>
		<td><button type="button" onclick="location = 'editor?id={{.Id}}'">编辑</button></td>
	</tr>
	{{- end }}
</tbody>
</table>
</body>
</html>
