<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>文章编辑</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="/v3/dynamic/style" />
<script src="/scripts/header.js"></script>
<script src="/v3/dynamic/script"></script>
<script src="https://unpkg.com/tiny-markdown-editor@0.1.20/dist/tiny-mde.min.js"></script>
<script src="/admin/script.js"></script>
<link rel="stylesheet" type="text/css" href="/admin/tinymde.css" />
{{ apply_site_theme_customs }}
</head>
<body class="admin editor">
<script>
{{ if not $.Post }}
	TaoBlog.post_id =  0;
{{ else }}
	TaoBlog.post_id = +"{{$.Post.Id}}";
	TaoBlog.posts["{{$.Post.Id}}"] = {{ $.Post }};
{{ end }}
</script>
<form id="main">
	<div id="container">
		<div id="editor-container">
			<textarea name="source" style="display: none;">{{with $.Post}}{{.Source}}{{end}}</textarea>
		</div>
		<div id="preview-container"></div>
	</div>
	<div id="command-container"></div>
	<p>
		<label>
			日期：
			<input type="datetime-local" name="time" value="" />
		</label>
		<label>
			类型：
			<select name="type">
				<option value="tweet">碎碎念</option>
				<option value="post">文章</option>
				<option value="page">页面</option>
			</select>
		</label>
		<label>
			状态：
			<select name="status">
				<option value="draft">私有</option>
				<option value="public">公开</option>
			</select>
		</label>
	</p>
	<p>
		<label>位置：
			<input type="text" name="geo_name" id="geo_name" placeholder="名字" autocomplete="off"/>
			<input type="text" name="geo_location" id="geo_location" placeholder="坐标（经度,纬度)" autocomplete="off"/>
		</label>
		<button id="geo_modify">获取</button>
	</p>
	<p><input type="submit" value="提交" /></p>
	<div class="files">
		<ol class="list"></ol>
	</div>
	<input type="file" style="display: none;" multiple id="files" autocomplete="off" />
</form>
<script src="editor.js"></script>
</body>
</html>
