<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>文章编辑</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="tinymde.css">
<script src="/script.js"></script>
<script src="tinymde.js"></script>
<script src="script.js"></script>
<script src="editor.js"></script>
<script src="sortable.js"></script>
{{ apply_site_theme_customs }}
<style>
div.mobile { display: none;}
@media (hover: none) {
	div.mobile { display: block;}
}
</style>
</head>
<body class="admin editor">
<script>
TaoBlog.post_id = +"{{$.Post.Id}}";
TaoBlog.posts["{{$.Post.Id}}"] = {{ $.Post }};
</script>
<form id="main">
	<div id="workspace">
		<template id="tab-template">
			<div class="tab">
				<span class="name"></span><!--
				--><span class="close" title="关闭">×</span>
			</div>
		</template>
		<div id="tabs"></div>
		<div id="editors">
			<div id="post-editor">
				<div id="container">
					<div id="editor-container">
						<textarea name="source" style="display: none;">{{$.Post.Source}}</textarea>
					</div>
					<div id="preview-container"></div>
					<div id="diff-container"></div>
				</div>
				<div id="command-container"></div>
				<hr>
				<p>
					选项：
					<label><input type="checkbox" id="toggle-wrap" checked autocomplete="off">自动折行</label>
					<label><input type="checkbox" id="toggle-preview" checked autocomplete="off">显示预览</label>
					<label><input type="checkbox" id="toggle-diff" autocomplete="off">显示变更</label>
					<label><input type="checkbox" name="auto-indent" autocomplete="off">段落缩进</label>
				</p>
				<hr>
				<p class="file-manager-button">
					文件：
					<button type="button" class="all">管理</button>
				</p>
				<p>
					<label>
						日期：
						<input type="datetime-local" name="time" value="">
					</label>
				</p>
				<p>
					<label>
						类型：
						<select name="type">
							<option value="tweet">碎碎念</option>
							<option value="post">文章</option>
							<option value="page">页面</option>
						</select>
					</label>
				</p>
				<p>
					<label>
						分类：
						<select name="category" autocomplete="off">
							<option value="0"{{if eq $.Post.Category 0}} selected{{end}}>未分类</option>
							<hr>
							{{ range $.Cats }}
							<option value="{{.Id}}" {{if eq $.Post.Category .Id}}selected{{end}}>{{.Name}}</option>
							{{ end }}
							<hr class="insert-before">
							<option value="-1">新建分类...</option>
						</select>
					</label>
				</p>
				<p class="status status-{{$.Post.Status}}">
					<label>
						权限：
						<select name="status" autocomplete="off">
							<option value="draft">📝 草稿</option>
							<option value="private">🔒 仅自己可见</option>
							<option value="public">👀 所有人可见</option>
							<option value="partial">📢 部分人可见</option>
						</select>
					</label>
					<button name="set-acl">选择可见的人</button>
				</p>
				<dialog name="set-acl-dialog">
					<ol class="list"></ol>
					<div><button>✅ 确定</button></div>
				</dialog>
				<p class="top">
					<label>
						<span>置顶：</span>
						<select name="top" autocomplete="off">
							<option value="0">否</option>
							<option value="1">是</option>
						</select>
					</label>
				</p>
				<p class="toc" style="display: none;">
					<label>
						<span>目录：</span>
						<select name="toc">
							<option value="0">📚 关闭</option>
							<option value="1">📖 开启</option>
						</select>
					</label>
				</p>
				<p class="geo no-data">
					<label><span>位置：</span>
						<input type="text" name="geo_location" id="geo_location" placeholder="坐标（经度,纬度)" autocomplete="off">
						<button id="geo_modify">获取</button>
					</label>
					<label><span style="visibility: hidden;">位置：</span>
						<input type="text" name="geo_name" id="geo_name" placeholder="名字" autocomplete="off" list="resolved_geo_locations">
						<span id="geo_location_loading"></span>
						<datalist id="resolved_geo_locations"></datalist>
					</label>
					<label><span style="visibility: hidden;">私有：</span>
						<input type="checkbox" name="geo_private" autocomplete="off">
						私有地址（不对外显示）
					</label>
				</p>
				<hr>
				<p><input type="submit" value="保存"></p>
				<input type="file" style="display: none;" multiple id="files" autocomplete="off">
			</div>
		</div>
	</div>
</form>
<dialog name="new-category-dialog">
	<form method="dialog">
		<div><b>请输入新分类名称：</b></div>
		<p>
			<input type="text" name="name" placeholder="分类名称" autocomplete="off" required>
		</p>
		<div style="text-align: center;">
			<!-- 必须为 type=button，否则按下回车会被关闭。 -->
			<button type="button" class="cancel">取消</button>
			<input type="submit" value="确定">
		</div>
	</form>
</dialog>
<dialog name="file-manager">
	<div class="wrapper">
		<div class="list">
			<file-list class="file-list"></file-list>
		</div>
		<div class="buttons">
			<div>
				<button type="button" class="cancel" onclick="this.closest('dialog').close()">关闭</button>
			</div>
			<div>
				<button type="button" class="select-all">全选</button>
				<button type="button" class="select-none" disabled autocomplete="off">不选</button>
			</div>
			<div>
				<button type="button" class="insert" disabled autocomplete="off">插入</button>
			</div>
			<div>
				<button type="button" class="upload">上传</button>
				<button type="button" class="delete" disabled autocomplete="off">删除</button>
			</div>
			<div>
				<button type="button" class="create">新建</button>
				<button type="button" class="edit" disabled autocomplete="off">编辑</button>
			</div>
			<div>
				<button type="button" class="tiled">切换视图</button>
				<select type="button" class="sort" autocomplete="off" style="text-align: center;">
					<option value="first" selected>排序规则</option>
					<hr>
					<option value="name_asc">名字升序</option>
					<option value="name_desc">名字降序</option>
					<hr>
					<option value="time_asc">时间升序</option>
					<option value="time_desc">时间降序</option>
				</select>
			</div>
		</div>
	</div>
	<dialog name="file-source-dialog">
		<textarea autocomplete="off" placeholder="填写文件说明/注释。支持部分 Markdown 格式。"></textarea>
		<div>
			<span class="status-icon"></span>
			<button type="button" class="save">保存</button>
			<button type="button" class="cancel" onclick="this.closest('dialog').close()">关闭</button>
		</div>
	</dialog>
	<dialog name="create-file-dialog">
		<form>
			<p><label>文件类型：<select name="type" autocomplete="off">
				<option value="table">表格</option>
				<option value="drawio">绘图(draw.io)</option>
				<option value="tldraw">绘图(tldraw)</option>
			</select></label></p>
			<p><label>文件名字：<input name="name" type="text" autocomplete="off" value=""></label></p>
			<hr>
			<div style="text-align: right;">
				<span class="status-icon"></span>
				<input type="submit" value="保存">
				<button type="button" class="cancel" onclick="this.closest('dialog').close()">关闭</button>
			</div>
		</form>
	</dialog>
</dialog>
<template id="tmpl-table-editor">
	<div class="table-editor-wrapper">
		<div class="toolbar">
			<div>
				<button type="button" class="addRowAbove">在上面添加行</button>
				<button type="button" class="addRowBelow">在下面添加行</button>
				<button type="button" class="deleteRows">删除行</button>
			</div>
			<div>
				<button type="button" class="addColLeft">在左边添加列</button>
				<button type="button" class="addColRight">在右边添加列</button>
				<button type="button" class="deleteCols">删除列</button>
			</div>
			<div>
				<button type="button" class="toHeaderRows">设为表头行</button>
				<button type="button" class="toHeaderCols">设为表头列</button>
				<button type="button" class="toDataRows">设为数据行</button>
				<button type="button" class="toDataCols">设为数据列</button>
			</div>
			<div class="mobile">
				<button type="button" class="startRangeSelection">开始选区</button>
				<button type="button" class="moveRowsUp">上移行</button>
				<button type="button" class="moveRowsDown">下移行</button>
				<button type="button" class="moveColsLeft">左移列</button>
				<button type="button" class="moveColsRight">右移列</button>
			</div>
			<div>
				<button type="button" class="merge">合并单元格</button>
				<button type="button" class="split">拆分单元格</button>
			</div>
			<div>
				<button type="button" class="undo">撤销</button>
				<button type="button" class="redo">重做</button>
			</div>
		</div>
		<div class="editor"><div class="placeholder"></div></div>
	</div>
</template>
</body>
</html>
