<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>文章编辑</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<link rel="stylesheet" type="text/css" href="/style.css" />
<link rel="stylesheet" type="text/css" href="/v3/dynamic/style.css" />
<script src="/scripts/header.js"></script>
<script src="/v3/dynamic/script.js"></script>
<script src="/admin/tinymde.js"></script>
<script src="/admin/script.js"></script>
<link rel="stylesheet" type="text/css" href="/admin/tinymde.css" />
{{ apply_site_theme_customs }}
</head>
<body class="admin editor">
<script>
TaoBlog.post_id = +"{{$.Post.Id}}";
TaoBlog.posts["{{$.Post.Id}}"] = {{ $.Post }};
</script>
<form id="main">
	<div id="container">
		<div id="editor-container">
			<textarea name="source" style="display: none;">{{$.Post.Source}}</textarea>
		</div>
		<div id="preview-container"></div>
	</div>
	<div id="command-container"></div>
	<hr>
	<p>
		<label>
			日期：
			<input type="datetime-local" name="time" value="" />
		</label>
	</p>
	<p>
		<label>
			类型：
			<select name="type">
				<option value="post">文章</option>
				<option value="tweet">碎碎念</option>
				<option value="page">页面</option>
			</select>
		</label>
	</p>
	<p class="status status-{{$.Post.Status}}">
		<label>
			权限：
			<select name="status" autocomplete="off">
				<option value="draft">🔒 仅自己可见</option>
				<option value="public">👀 所有人可见</option>
				<option value="partial">📢 部分人可见</option>
			</select>
		</label>
		<button name="set-acl">选择可见的人</button>
	</p>
	<dialog name="set-acl-dialog">
		<ol class="list">
		</ol>
		<div>
			<button>✅ 确定</button>
		</div>
	</dialog>
	<p class="geo">
		<label>位置：
			<input type="text" name="geo_name" id="geo_name" placeholder="名字" autocomplete="off"/>
		</label>
		<label><span style="visibility: hidden;">位置：</span>
			<input type="text" name="geo_location" id="geo_location" placeholder="坐标（经度,纬度)" autocomplete="off"/>
			<button id="geo_modify">获取</button>
		</label>
	</p>
	<hr>
	<p><input type="submit" value="保存" /></p>
	<div class="files">
		<ol class="list"></ol>
	</div>
	<input type="file" style="display: none;" multiple id="files" autocomplete="off" />
</form>
<script src="editor.js"></script>
</body>
</html>
