<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录 - {{ .Name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/style.css">
<script>
window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
    console.warn("Error occurred: " + errorMsg + ' at line: ' + lineNumber);//or any message
    return false;
};
</script>
<script src="/script.js"></script>
<script>
function redirect(to) {
	if (!to) {
		let args = new URLSearchParams(location.search);
		if (args.has('u')) {
			to = args.get('u');
		}
	}
	if (!to) {
		to = 'profile';
	}
	window.location = to;
}
</script>
</head>
<body class="admin login">
<div id="wrapper">
<div><img id=logo src="/favicon.ico"></div>
<h1><a href="/">{{ .Name }}</a></h1>
<div class="passkeys">
	<button onclick="webauthn()">
		使用通行密钥登录
	</button>
	<p><a style="color: inherit; font-size: 80%; cursor: pointer;" onclick="toggleOthers();">其它登录方式</a></p>
	<script>
		async function webauthn() {
			try {
				let wa = new WebAuthn();
				await wa.login();
				// alert('登录成功。');
				redirect();
			} catch(e) {
				if (e instanceof DOMException && ["NotAllowedError", "AbortError"].includes(e.name)) {
					console.log('已取消操作。');
					return;
				}
				alert(e);
			}
		}
		function toggleOthers() {
			let form = document.getElementsByClassName('alts')[0];
			form.style.display = form.style.display == 'none' ? 'block' : 'none';
			let passkeys = document.getElementsByClassName('passkeys')[0];
			passkeys.style.display = passkeys.style.display == 'none' ? 'block' : 'none';
		}
	</script>
</div>
<div class="alts" style="display: none;">
<form method="post" id="login-form" style="text-align: center;">
	<div>
		<input type="text" name="user" placeholder="用户名" required>
		<br>
		<input type="password" name="passwd" placeholder="密码" required>
		<br>
		<input type="text" name="otp" placeholder="动态密码" pattern="\d{6}" style="display: none;">
	</div>	
	<div>
		<input type="submit" value="登录">
	</div>
	<script>
		(function(){
			let form = document.getElementById('login-form');
			form.addEventListener('submit', async function(ev){
				ev.stopPropagation();
				ev.preventDefault();

				let resp = await fetch(location.pathname + '/basic', {
					method: 'POST',
					credentials: "include",
					body: JSON.stringify({
						username: form.elements['user'].value,
						password: form.elements['passwd'].value,
						otp: form.elements['otp'].value,
					}),
				});

				if (resp.status == 200) {
					let obj = {};
					try { obj = await resp.json();}
					catch (e) { console.log(e); }

					const args = new URLSearchParams(location.search);
					if(obj.otp_not_set && args.get('u') == '/admin/') {
						redirect('otp?prompt=1')
					} else {
						redirect();
					}
					return true;
				} else if (resp.status == 400) {
					let obj = {};
					try { obj = await resp.json();}
					catch (e) { console.log(e); }

					if (obj.requires_otp) {
						let otp = form.elements['otp'];
						otp.style.display = 'inline';
						otp.focus();
						return true;
					}
					
					return true;
				}

				alert('Error: ' + await resp.text());
				return true;
			});
		})();
	</script>
</form>
<p style="text-align: center;">
	<a style="color: inherit; font-size: 80%; cursor: pointer;" onclick="toggleOthers()">
		返回通行密钥登录
	</a>
</p>
</div>
</div>
</body>
</html>
