<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>登录 - {{ .Name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<link rel="stylesheet" type="text/css" href="/style.css" />
{{ apply_site_theme_customs }}
<script>
window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
    console.warn("Error occurred: " + errorMsg + ' at line: ' + lineNumber);//or any message
    return false;
};
</script>
<script src="script.js"></script>
<script>
function redirect(to) {
	if (!to) {
		let args = new URLSearchParams(location.search);
		if (args.has('u')) {
			to = args.get('u');
		}
	}
	if (!to) {
		to = 'profile';
	}
	window.location = to;
}
</script>
</head>
<body class="admin login">
<div id="wrapper">
<h1><a href="/">{{ .Name }} - 登录</a></h1>
<div class="passkeys">
	<button onclick="webauthn()">
		通行密钥 / WebAuthn
	</button>
	<p><a style="color: inherit; font-size: 80%; cursor: pointer;" onclick="toggleOthers();">其它登录方式</a></p>
	<script>
		async function webauthn() {
			let wa = new WebAuthn();
			try {
				await wa.login();
				// alert('登录成功。');
				redirect();
			} catch(e) {
				if (e instanceof DOMException && e.name == "AbortError") {
					console.log('已取消操作。');
					return;
				}
				alert(e);
			}
		}
		function toggleOthers() {
			let form = document.getElementsByClassName('alts')[0];
			form.style.display = form.style.display == 'none' ? 'block' : 'none';
			let passkeys = document.getElementsByClassName('passkeys')[0];
			passkeys.style.display = passkeys.style.display == 'none' ? 'block' : 'none';
			{{ with .GoogleClientID }}
				if (!window._google_initialized) {
					let gapisrc = document.getElementById('gapisrc');
					gapisrc.src = gapisrc.getAttribute('data-src');
					window._google_initialized = true;
					gapisrc.onload = google;
				}
			{{ end }}
		}
	</script>
</div>
<div class="alts" style="display: none;">
<form method="post" id="login-form" style="text-align: center;">
	<div>
		<input type="text" name="user" placeholder="用户名" required />
		<br />
		<input type="password" name="passwd" placeholder="密码" required />
	</div>	
	<div>
		<input type="submit" value="登录" />
	</div>
	<script>
		(function(){
			let form = document.getElementById('login-form');
			form.addEventListener('submit', async function(ev){
				ev.stopPropagation();
				ev.preventDefault();

				let resp = await fetch(location.pathname + '/basic', {
					method: 'POST',
					credentials: "include",
					body: JSON.stringify({
						username: form.elements['user'].value,
						password: form.elements['passwd'].value,
					}),
				});
				if (resp.status == 200) {
					redirect();
				} else {
					alert('Error: ' + await resp.text());
				}

				return true;
			});
		})();
	</script>
</form>
{{ if .HasSocialLogins }}
<hr style="margin: 1em auto; width: 80%;" />
<div id="social-logins" style="text-align: center;">
	{{ with .GitHubClientID }}
	<div>
	<button onclick="github()">
		GitHub
	</button>
	<script>
		function github() {
			location.href = "https://github.com/login/oauth/authorize?client_id={{ . }}";
		}
	</script>
	</div>
	{{ end }}
	{{ if .GoogleClientID }}
	<div id="google" style="display: none;">
	<button id="google-signin-button">
		Google
	</button>
	<button style="display: none;" id="google-signin-button-hidden">hidden sign-in button</button>
	<script id="gapisrc" data-src="https://apis.google.com/js/api:client.js"></script>
	<script>
		let google = function() {
			document.getElementById('google').style.display = 'block';
			let btn = document.getElementById('google-signin-button');
			let btnHidden = document.getElementById('google-signin-button-hidden');
			btn.addEventListener('click', function(e) {
				e.stopPropagation();
				e.preventDefault();
				btnHidden.click();
			});

			let googleUser = {};
			gapi.load('auth2', function(){
				// Retrieve the singleton for the GoogleAuth library and set up the client.
				auth2 = gapi.auth2.init({
					client_id: '{{.GoogleClientID}}.apps.googleusercontent.com',
					cookiepolicy: 'single_host_origin',
				});
				auth2.attachClickHandler(btnHidden, {},
					async function(googleUser) {
						var id_token = googleUser.getAuthResponse().id_token;
						console.log("ID Token: " + id_token);
						let resp = await fetch(location.pathname + "/google", {
							method: 'POST',
							credentials: 'include',
							body: JSON.stringify({
								token: id_token,
							}),
						});
						if (resp.status == 200) {
							var auth2 = gapi.auth2.getAuthInstance();
							auth2.disconnect().then(function () {
								redirect();
							});
						} else {
							alert('Error: ' + await resp.text());
						}
					},
					function(error) {
						alert(JSON.stringify(error, undefined, 2));
					}
				);
			});
		};
		// google();
	</script>
	</div>
	{{end}}
</div>
{{ end }}
<p style="text-align: center;">
	<a style="color: inherit; font-size: 80%; cursor: pointer;" onclick="toggleOthers()">
		返回通行密钥登录
	</a>
</p>
</div>
</div>
</body>
</html>
