<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>状态 - {{ .Name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/style.css">
{{ apply_site_theme_customs }}
<script src="/script.js"></script>
</head>
<body class="admin profile">
<div id="wrapper">
<h1>{{ .Name }}</h1>
<div class="user-info">
	<div id="avatar-wrapper">
		<img id="avatar" class="avatar" src="{{.AvatarURL}}" style="cursor: pointer;">
		<input type="file" id="avatar-file" accept="image/jpeg, image/png" style="display: none;">
		<p class="uploading" style="display: none;"><span class="icon-loading"> 上传中...</span></p>
	</div>
	<p>昵称：<span id="nickname">{{.User.Nickname}}</span> <button id="change-nickname">修改</button></p>
	<p>邮箱：<span id="email">{{ with .User.Email }}{{ . }}{{ else }}(无){{ end }}</span> <button id="change-email">修改</button></p>
	<p>公钥：{{ len .PublicKeys }}</p>
	<p>日历：<input type="text" value="{{ .CalendarURL }}" readonly></p>
</div>
<div class="buttons">
	<p><button onclick="register()">注册通行密钥</button></p>
	<p><button onclick="location.href='editor?new=1&type=markdown'">发表文章</button></p>
	<p><button onclick="location.href='drafts'">草稿管理</button></p>
	<p><button onclick="location.href='reorder'">置顶排序</button></p>
	<p><button onclick="location.href='category'">分类管理</button></p>
	<p><button onclick="location.href='/'">返回首页</button></p>
	<p><button onclick="switchUser()">切换账号</button></p>
	<p><button onclick="location.href='logout'">退出登录</button></p>
</div>
	
</div>
<script src="profile.js"></script>
</body>
</html>
