<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>状态 - {{ .Name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<link rel="stylesheet" type="text/css" href="/style.css" />
{{ apply_site_theme_customs }}
<script src="script.js"></script>
</head>
<body class="admin profile">
<div id="wrapper">
<h1>{{ .Name }}</h1>
<div class="user-info">
	<p><b>昵称：</b>{{/* .User.DisplayName */}}</p>
	<p><b>邮箱：</b>{{/* .User.Email */}}</p>
	{{ if .PublicKeys }}
	<p><b>公钥：</b></p>
	<ul>
		{{ range .PublicKeys }}
		<li>{{ . }}</li>
		{{ end}}
	</ul>
	{{ else }}
		<p><b>公钥：</b>(无)</p>
	{{ end }}
	<p><button onclick="register()">注册通行密钥</button></p>
</div>
<div>
	<p><button onclick="location.href='editor'">发表文章</button></p>
	<p><button onclick="location.href='/'">返回首页</button></p>
	<p><button onclick="location.href='logout'">退出登录</button></p>
</div>
	
</div>
<script>
async function register() {
	let wa = new WebAuthn();
	try {
		await wa.register();
		alert('新的通行密钥注册成功。');
	} catch(e) {
		if (e instanceof DOMException && e.name == "AbortError") {
			console.log('已取消操作。');
			return;
		}
		alert(e);
	}
}
</script>
</body>
</html>
