* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Microsoft YaHei";
	background-color: #F1F1F1;
}

@media screen and (min-width: 851px) {
#admin-left {
    background-color: black;
    color: white;
    position: fixed;
    left: 0px;
    top: 0;
    bottom: 0px;
    width: 80px;
}
#admin-wrap {
    margin-left: 80px;
}
}

@media screen and (max-width: 850px) {
#admin-left {
    background-color: black;
    color: white;
}
#admin-left > ul > li {
    float: left;
}
#admin-left ul {
	list-style: none;
    overflow: hidden;
}
}

#admin-left ul li .menu {
	padding: 0.4em;
    display: inline-block;
}

#admin-left ul li:hover {
	background-color: gray;
}

#admin-left ul a {
	text-decoration: none;
	color: inherit;
	outline: 0px none;
}

#admin-wrap {
	padding: 1em;
}

