/*! color table */

/* global */
$selection_fg:      white;
$selection_bg:      #f66;

$body_fg:           #292929;
$body_bg:           white;
$a_fg:              #005782;
$a_visited_fg:      #924646;
$a_active_fg:       #faa700;

$border_color:      #ccc;

$btn_fg:            white;
$btn_bg:            rgba(60,60,60,0.6);
$btn_hover_bg:      rgba(20,20,20,0.7);


/* header */
$header_wrapper_desktop_bg:             none;
$header_wrapper_desktop_border_right:   #f66;

$header_wrapper_mobile_bg:              white;


/* footer */
$footer_column_ul_a_fg:                 inherit;


/* toolbar */
$toolbar_tips_bg:               rgba(255,100,100,0.93);
$toolbar_tips_fg:               white;
$toolbar_back_to_top_hover_fg:  #f66;
$toolbar_imgview_bg:            rgba(0,0,0,0.85);

/* content */
/* 色彩 */
.fg-black    { color: black; }
.fg-blue     { color: blue; }
.fg-green    { color: green; }
.fg-aqua     { color: aqua; }
.fg-red      { color: red; }
.fg-magenta  { color: magenta; }
.fg-yellow   { color: yellow; }
.fg-white    { color: white; }

.bg-black    { background-color: black; }
.bg-blue     { background-color: blue; }
.bg-green    { background-color: green; }
.bg-aqua     { background-color: aqua; }
.bg-red      { background-color: red; }
.bg-magenta  { background-color: magenta; }
.bg-yellow   { background-color: yellow; }
.bg-white    { background-color: white; }

$post_title_fg:                 #333333;
$post_meta_fg:                  #5a5a5a;
$post_content_fg:               #292929;
$post_pre_quote_bg:             aliceblue;
$post_line_code_border_color:   rgb(201,163,163);
$post_code_bg:                  #ececec;

$toc_fg:                        #141414;
$toc_bg:                        rgba(255,255,255,0.9);
$toc_border_color:              grey;

$pagination_number_hover_fg:    inherit;
$pagination_number_hover_bg:    none;

$pagination_current_fg:         white;
$pagination_current_bg:         rgba(146,146,146,0.5);


/* comment */
$comment_title_fg:              #a53535;
$comment_func_border:           #ccc;
$comment_submit_bg:             rgba(113,113,113,0.7);
$comment_submit_fg:             white;
$comment_submit_hover_bg:       rgba(200,30,30,0.8);
$comment_submit_submitting_fg:  red;
$comment_submit_succeeded_fg:   green;
$comment_submit_failed_fg:      green;
$comment_nickname_fg:           #003b87;
$comment_author_fg:             #ff4040;
$comment_date_fg:               #cfcfcf;
$comment_sysbtn_hover_fg:       #323232;
$comment_needed_fg:             red;
$comment_content_2_fg:          white;
$comment_content_2_bg:          transparent;

