/* 内容 */
#main {

}

#content {
    max-width: 850px;
    margin: auto;
}

/* 分类与日期查询 */
.query {
	padding: 0px 10px;

    ul.item-list {
        list-style: none;
        line-height: 2.5em;
        padding: 0px;

        .item h2 {
            margin: 0px;
            font-size: 1.4em;

            .thedate {
                margin-left: 0.5em;
                font-size: 0.5em;
            }
        }
    }
}

/* 文章归档页面 */
.archives {
    overflow: hidden;
    > div:nth-child(n) {
        float: left;
        width: 30%;
        margin-right: 2%;
        min-width: 200px;
    }

    .tags {
        ul {
            list-style: none;
            line-height: 1.5em;
            padding-left: 2em;
            display: none;
            &.roots {
                padding-left: 0px;
                display: block;
            }
            li {
                &.tag {
                    > .tag-name {
                        cursor: pointer;
                        &.fa {
                            width: 1em;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
    .cats {
        ul {
            list-style: none;
            line-height: 1.5em;
            padding-left: 2em;
            display: none;
            &.roots {
                padding-left: 0px;
                display: block;
            }
            li {
                &.folder {
                    > .folder-name {
                        cursor: pointer;
                        &.fa {
                            width: 1em;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
    .date {
        ul {
            list-style: none;
            line-height: 1.5em;
            padding-left: 2em;
            display: none;
            &.roots {
                padding-left: 0px;
                display: block;
            }
            li {
                &.year-month {
                    > .datetime {
                        cursor: pointer;
                        &.fa {
                            width: 1em;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
}

/* 文章 */
.post, .pages {
	margin-bottom: 15px;

    /* 文章标题 */
    .title {
        overflow: hidden;

        h1 {
            font-size: 2em;
            color: $post_title_fg;
        }
    }

    /* 文章元数据 */
    .meta { 
        color: $post_meta_fg;
        margin: 2em 0px 0px;

        a {
            color: inherit;
            text-decoration: underline;
        }

        .author {
            display: none;
        }
    }
}

/* 文章内容 */
@media screen and (max-width: 850px) {
	.entry {
		padding: 0px 0px 16px;
	}
}
@media screen and (min-width: 851px) {
	.entry {
		padding-bottom: 16px;
	}
}

.entry {
	display: block;
	color: $post_content_fg;
	text-align: justify;
    margin-bottom: 3em;

     pre {
        font-family: inherit;
        box-sizing: border-box;

        &.wrap {
            white-space: pre-wrap;
        }

        &.no-wrap {
            white-space: pre;
            overflow: auto;
        }

        &.quote {
            padding: 1em;
            border: 1px dashed #ccc;
            background-color: $post_pre_quote_bg;
        }
    }

    p {
        margin: 1em 0px;
        line-height: 1.5em;
    }

    a {
        &.external {
            margin-left: 5px;
            padding-left: 18px;
            background-image: url(/theme/images/external-anchor.png);
            background-repeat: no-repeat;
            background-position: left center;
        }

        &:not([href]) {
            color: inherit;

            &:hover {
                cursor: default;
            }
        }
    }

    .line-code {
        white-space: pre-wrap;
        display: inline;
        line-height: 2em;
        font-family: Consolas, monospace;
        padding: 5px;
        margin: 0px 3px;
        border: 1px solid $post_line_code_border_color;
        border-radius: 3px;
    }

    .same-height {
        line-height: 1.5em;
    }


    img {
        max-width: 100%;
        box-sizing: border-box;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid #f66;
            cursor: zoom-in;
        }

        &.shadow {
            box-shadow: 0px 0px 2px;
        }
    }

    /* 文章表格 */
    table {
        border: 1px solid gray;
        border-collapse: collapse;
        margin: 1em 0px;

        td, th {
            border: 1px solid gray;
            padding: 0.5em;
        }

        &.no-border, &.no-border td {
            border: none;
        }

        &.enlarge-first-td td:first-child {
            padding-right: 1em;
        }
    }

    /* 代码片段 */
    div.code-wrap {
        max-height: 500px;
        overflow: auto;
        margin: 0.5em 0em;

        table {
            border: none;
            width: 100%;
            border-collapse: collapse;

            tr {
                line-height: 1.1em;
                vertical-align: top;
                font-family: Consolas, monospace;
            }

            td.gutter {
                padding: 0.5em !important;
                background-color: #23241F;
                color: white;
                text-align: right;
                border: none;
                border-right: 3px solid yellowgreen;
                width: 2em;
                min-width: 2em;	/* why need both here ? See: 476.html */
            }

            td.code {
                padding: 0px !important;
                border: none;
            }
        }
    }
}

.entry {
    div.code-wrap pre.code, pre.code, pre.shell {
        overflow: auto !important;
        white-space: pre;
        font-family: Consolas, monospace;
        padding: 0.5em !important;
        border-radius: 2px;
        background-color: $post_code_bg;
        line-height: 1.5em;
        margin: 1em 0px;
        max-height: 1000px;
    }
}

/* 目录 */
@media screen and (min-width: 600px) {
	.entry div.toc {
		position: fixed;
		top: 20px;
		right: 20px;
		max-width: 300px;
		color: $toc_fg;
		background-color: $toc_bg;
		padding: 10px;
		border: 1px solid $toc_border_color;
	}
}

.entry {
    div.toc {
        h2, h3 {
            margin: 0px;
            font-size: 20px;
        }

        a {
            color: inherit;
            font-family: Consolas,"Microsoft YaHei";
            font-size: 12px;
        }

        ul:first-of-type {
            padding-left: 2em;
            margin-bottom: 0px;
        }
    }
}

/* 相关文章推荐 */
.post .related {
    margin-bottom: 3em;
    h3 {
        border-bottom: 1px solid $border_color;
    }

    ol {
        padding-left: 4em;
        line-height: 1.7em;
    }

    a {
        color: inherit;
    }
}

/* 分页 */
#content .pagination {
	border-top: 1px solid $border_color;
	padding: 20px;
	text-align: center;

    .page-number,
    .current {
        padding: 3px 6px;
        cursor: pointer;
        margin-right: 0.5em;
        color: inherit;
    }

    .page-number:hover {
        color: $pagination_number_hover_fg;
        background-color: $pagination_number_hover_bg;
        text-decoration: none;
    }

    .current {
        color: $pagination_current_fg;
        background-color: $pagination_current_bg;
    }
}

.post, .page {
    a {
        text-decoration: none;
        color: $a_fg;
        &:hover {
            text-decoration: underline;
        }
        &:visited {
            color: $a_visited_fg;
        }
        &:active {
            color: $a_active_fg;
        }
        &:focus {
            outline: none;
        }
    }

    a, input, textarea, button {
        transition: all 0.2s ease-out;
    }

    button, input[type=submit] {
        border: none;
        &::-moz-focus-inner {
            border: 0;
        }
    }

    acronym, abbr {
        border-bottom: 1px dashed $border_color;
    }

    input, a, textarea {
        &:focus {
            outline: none;
        }
    }

    input, textarea, button {
        border: 1px solid $border_color;
        padding: 5px 7px;
    }
}

