::-moz-selection {
    color: white;
    background-color: #f66;
}

.clearfix {
    clear: both;
    display: block;
}

body {
    color: #292929;
    margin: 0px auto;
    padding: 0px;
    font: 13px Consolas, "Microsoft YaHei", sans-serif {

    }
}

.mono, tt, code {
    font-family: Consolas, monospace;
}

a {
    text-decoration: none;
    color: #005782;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: #800080;
    }
    &:active {
        color: #faa700;
    }
    &:focus {
        outline: none;
    }
}

a, input, textarea, button {
    transition: all 0.2s ease-out;
}

button, input[type=submit] {
    border: none;
    &::-moz-focus-inner {
        //border: 0;
    }
}

acronym, abbr {
    border-bottom: 1px dashed #ccc;
}

input, a, textarea {
    &:focus {
        outline: none;
    }
}

input, textarea, button {
    border: 1px solid #ccc;
    padding: 5px 7px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0px;
    font: {
        family: Consolas, 黑体;
        weight: 400;
    }
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

.fa-mr {
    margin-right: 0.5em;
}

/* 不可选 */
.no-sel {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
    cursor: default;
}

/* 按钮 */
.btn {
	border: none;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
    padding: 6px;
	cursor: pointer;
	color: white;
    transition: all 0s;
    background-color: rgba(60,60,60,0.6);

    &:hover {
        background-color: rgba(20,20,20,0.7);
    }
}

