::-moz-selection {
    color: $selection_fg;
    background-color: $selection_bg;
}

.clearfix {
    clear: both;
    display: block;
}

body {
    color: $body_fg;
    background-color: $body_bg;
    margin: 0px auto;
    padding: 0px;
    font: 13px "Microsoft YaHei", Georgia, 'Noto Sans', sans-serif {

    }
}

@media screen and (max-width: $max_width_1) {
    body {
        text-shadow: 0 0 1px rgba(0,0,0,0.22);
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}


.mono, tt, code {
    font-family: 'Microsoft Yahei Mono', Consolas, monospace;
}

tt {
    color: $tt_fg;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0px;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

.fa-mr {
    margin-right: 0.5em;
}

/* 不可选 */
.no-sel {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

/* 按钮 */
.btn {
    border: none;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 6px;
    cursor: pointer;
    color: $btn_fg;
    transition: all 0s;
    background-color: $btn_bg;

    &:hover {
        background-color: $btn_hover_bg;
    }
}

a {
    text-decoration: none;
    color: $a_fg;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: $a_visited_fg;
    }
    &:active {
        color: $a_active_fg;
    }
    &:focus {
        outline: none;
    }
}

button, input[type=submit] {
    border: none;
    &::-moz-focus-inner {
        border: 0;
    }
}

input[type=text], a, textarea {
    &:focus {
        outline: none;
    }
}

input[type=text], textarea, button {
    border: 1px solid $border_color;
    padding: 5px 7px;
}

a, input[type=text], textarea, button {
    transition: all 0.2s ease-out;
}

input[type=text]:hover, textarea:hover {
    border: 1px solid $border_color_hover;
}

pre {
    padding: 1em;
    margin: 1em 0;
    background-color: $post_code_bg;
}
