/* 头部 */
#header .content {
    max-width: 850px;
    margin: auto;
    padding: 2em 1em 0;
}

#header {
    background-color: rgba(0,0,0,0.6);

    .content {
        h2 {
            margin: 0px;
            color: white;
            font-size: 2em;

            a {
                color: inherit;
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    outline: 0;
                }
            }
        }

        p.motto {
            color: white;
            padding-left: 2em;
        }

        .nav {
            overflow: hidden;

            a {
                transition: all 0.2s;
                text-decoration: none;
                color: inherit;

                &:visited {
                    color: inherit;
                }

                &:focus {
                    outline: 0;
                }

                &:active {
                    color: inherit;
                }

                &:hover {
                    color: white;
                }
            }

            > ol {
                margin: 0px 0px 1px;
                padding-left: 0px;
                list-style: none;
                float: right;
                clear: right;

                > li {
                    display: inline-block;
                    margin-left: 0.5em;
                    color: #A0A0A0;
                    line-height: 2em;
                }
            }
        }
    }
}

