/* 头部 */

#header {
    .content {
        max-width: 850px;
        min-width: 200px;
        margin: auto;
        padding: 2em 1em 0;
        overflow: hidden;

        .padding {
            position: relative;
        }

        h2 {
            margin: 0px;
            color: white;
            font-size: 2em;

            a {
                color: inherit;
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    outline: 0;
                }
            }
        }

        .motto {
            color: white;
        }

        .nav {
            a {
                transition: all 0.2s;
                text-decoration: none;
                color: inherit;

                &:visited {
                    color: inherit;
                }

                &:focus {
                    outline: 0;
                }

                &:active {
                    color: inherit;
                }

                &:hover {
                    color: white;
                }
            }

            > ol {
                margin: 0px 0px 1px;
                padding-left: 0px;
                list-style: none;

                > li {
                    display: inline-block;
                    margin-left: 0.5em;
                    color: #A0A0A0;
                    line-height: 2em;
                }
            }
        }

        .search {
            .icon {
                color: #fff6;
            }

            input {
                color: #fff6;
                border-color: #a9a9a933;
                background-color: transparent;
                margin-left: -2em;
                padding-left: 2em;
                width: 100px;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    #header .content {
        background-color: rgba(0,0,0,0.6);
        text-align: center;
    }
}

@media screen and (min-width: 851px) {
    #header {
        background-color: rgba(0,0,0,0.6);
        .content {
            .motto {
                padding-left: 2em;
            }
            .nav {
                float: right;
                clear: both;
            }
            .search {
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }
    }
}

