.reminder {
	--padding: 15px;

	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	display: block;
	padding: var(--padding);
	margin: 1em 0;
	max-width: 420px;

	.title {
		font-size: 1.5em;
		font-weight: bold;
		border-bottom: 1px solid var(--border-color);
		text-align: center;
		padding: var(--padding);
		padding-top: 0;
	}
	.days {
		font-size: 3em;
		color: var(--accent-color);
		text-align: center;
	}
	.start {
		text-align: center;
	}
}
