.reminder {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	display: block;
	padding: .5em;
	margin: 1em 0;
	max-width: 420px;

	.title {
		font-size: 1.3em;
		font-weight: bold;
		border-bottom: 1px solid var(--border-color);
		text-align: center;
		padding: 0 1em;
	}
	.days {
		font-size: 3em;
		color: var(--accent-color);
		text-align: center;
	}
	.start {
		text-align: center;
	}
}
