{{define "header" -}}
<!DOCTYPE html> 
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>
        {{- if .Title -}}
            {{- .Title -}}
            {{- " - " -}}
        {{- end -}}
        {{- get_config "blog_name" -}}
    </title>
    <link rel="stylesheet" href="/style.css" />
    {{.HeaderHook}}
</head>
<body>
<div id="wrapper">
    <!-- 头部 -->
    <header id="header">
        <div class="content">
            <div class="padding">
                <div class="sitename"><a href="/">{{get_config "blog_name"}}</a></div>
            </div>
        </div>

    </header>

    <section id="main">
        <div id="content">
{{end}}
