.entry {
	img:not(.static) /*, svg */{
		cursor: zoom-in;
	}
}

#img-view {
	background-color: rgb(from var(--color-bg) r g b / .97);
	display: none;
	position: fixed;
	inset: 0;;
	// 如果要修改，记得同时修改 view(index) 里面的滚动偏移计算函数。
	gap: 10px;
	flex-wrap: nowrap;
	overscroll-behavior: contain;
	scroll-snap-type: x mandatory;
	overflow: auto;
	> * {
		scroll-snap-align: center;
		flex: 0 0 100%;
		// 在 iOS 上图片没有居中。
		height: 100% !important;
		width: 100% !important;
	}
	img {
		object-fit: contain;
	}
	> picture img {
		height: 100%;
		width: 100%;
	}
	div.live-photo-wrapper {
		display: flex;
		align-items: center;
		.live-photo {
			margin: auto;
			max-width: unset;
		}
	}
	// 不知道为什么多出来一丢丢 y 滚动。
	picture {
		overflow: hidden;
	}
}
