#img-view {
    position: fixed;
    z-index: 1000000;
    background-color: rgba(0,0,0,0.88);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    cursor: zoom-out;

	&.transparent {
		@media (prefers-color-scheme: light) {
			background-color: rgba(white, 0.95);
		}
	}

    > img, > svg {
        cursor: move;
        position: relative;
        left: 0px;
        top: 0px;
		display: none;
		max-width: unset;
		max-height: unset;
		
		// 看大图就不要暗色了。
		filter: none;
	}
	svg text {
		cursor: text;
	}
}

// TODO 应该在 img 的事件绑定上加 class，
// 因为有过滤器，不是所有图片都需要如此。
.entry {
	img /*, svg */{
		cursor: zoom-in;
	}
}
