/* old */
pre.code {
	line-height: 1.5em;
}
/* 代码块 */
pre > code {
    display: inline-block;
	background: none;
	font-family: var(--mono-font);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5em;
    max-height: 600px;
    max-height: 60vh;

	-moz-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* 行内代码 */
:not(pre) > code {
	margin: 0px 4px;
	padding: 2px 6px;
	border-radius: var(--border-radius);
	line-height: 1.5em;
	white-space: normal;
	word-break: break-all;
	background-color: var(--code-bg);
}

@media (prefers-color-scheme: dark) {
	/* prism.css override */
	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background-color: inherit !important;
	}

	pre[class*="language-"]>code, pre[class*="language-"]>code .line-numbers-rows {
		background-color: transparent !important;
	}

	code[class*="language-"],
	pre[class*="language-"] {
		color: inherit !important;
	}

	pre[class*="language-"] {
		border: 1px solid #666 !important;
	}
	.token.operator,
	.token.entity,
	.token.url,
	.token.variable {
		background: unset !important;
	}
}
