/* 评论 */

#comments {
    overflow: hidden;
}

span.post-comment {
    font-weight: bold;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
        color: var(--a-fg);
    }
}

/* 评论标题 */
#comment-title {
    font-size: 1.5em;
	border-bottom: 1px solid var(--border-color);
    .count-wrap {
        color: #cfcfcf;
        font-weight: normal;
        font-size: 0.7em;
    }

    span.post-comment {
        margin-left: 1em;
        font-weight: normal;
        font-size: 0.7em;
        display: none;
    }
}

/* 评论列表 */
#comment-list {
    padding: 0;
    list-style: none;

    .comment-replies > ol {
        padding: 0;
        list-style: none;
    }

    .comment-avatar {
        cursor: pointer;
    }


    .comment-li {
        padding: 1em 0px 1em 1em;

        .comment-avatar {
            float: left;
            width: 48px;
            height: 48px;

            img {
                border-radius: 4px;
            }
        }

        .comment-meta {
            margin-left: 54px;
            margin-bottom: 6px;
        }

        @media screen and (min-width: 501px) {
            .comment-replies {
                margin-left: 1em;
            }
        }

        @media screen and (min-width: 601px) {
            .comment-replies {
                margin-left: 1em;
            }
        }

        .comment-content {
            margin-left: 54px;
            margin-bottom: 0.5em;
            margin-top: 0;
            padding-left: 0.4em;
            list-style-type: reset;
            &:not(.html-content) {
				white-space: pre-wrap;
			}

            pre {
                overflow: auto;
                max-height: 350px;
			}
        }

		.comment-replies > ol > li {
				padding: 1em 0px 0em 1em;
				border-top: 1px dashed var(--border-color);
        }

        .toolbar {
            margin-bottom: 0.5em;
			opacity: 0.3;
			transition: opacity 0.2s;
            &:hover {
                opacity: 1;
            }
            a {
                cursor: pointer;
                margin-right: 0.5em;
                color: inherit;
            }
        }
    }
}

/* 评论功能区 */
#comments .comment-func {
    margin: 2em 1em;
}

.comment-meta {
    .nickname, .author {
        font-size: 1.1em;
        position: relative;
        top: -4px;
    }

    .nickname {
        i.fa {
            margin-right: 3px;
        }
        a {
            color: inherit;
        }
    }

    .date {
        margin: 0px;
        font-size: 0.9em;
        position: relative;
        top: -4px;
    }
}

#comment-form-div {
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: rgba(255,255,255,0.95);
	padding: 10px;
	border: 1px solid grey;
	border-radius: var(--border-radius);
	box-sizing: border-box;
	display: none;
	resize: both;
	overflow: auto; /* this is to enable resize area */

	@media screen and (min-width: 501px) {
		width: 475px;
		height: 300px;
		min-width: 400px;
		min-height: 200px;
		max-width: 90%;
		max-height: 90%;
	}

	@media screen and (max-width: 500px) {
		width: 90%;
		height: unset !important;
		min-height: 300px;
	}

	.nc {
		height: 28px;
		cursor: move;
	}

	.ncbtns {
		z-index: 1000;
		position: absolute;
		top: 6px;
		cursor: pointer;
		height: 20px;
		right: 6px;
		img {
			float: right;
			opacity: 0.3;
			&:hover {
				opacity: 0.6;
			}
		}
	}

	.comment-title {
		position: relative;
		text-align: center;
		font-size: 1.5em;
		top: -5px;
		@media screen and (min-width: 501px) {
			margin-right: 150px;
		}
	}

	#comment-form {
		overflow: hidden;
		display: flex;
		position: absolute;
		left: 10px;
		top: 38px;
		right: 10px;
		bottom: 10px;

		@media screen and (max-width: 500px) {
			flex-direction: column;
		}

		.fields {
			flex: 1;

			@media screen and (min-width: 501px) {
				width: 150px;
				max-width: 150px;
				padding: 0px 0px 0px 1em;
			}

			@media screen and (max-width: 500px) {
				margin-top: 1em;
				.prompt {
					display: none;
				}
			}

			> input[type="text"] {
				margin-bottom: 8px;
				display: block;
				box-sizing: border-box;
				width: 100%;
				max-width: 100%;
			}
		}

		textarea {
			margin: 0px;
			min-width: 50px;
			resize: none;
			font-family: inherit;
			font-size: inherit;
			flex: 1;
			background: transparent;
		}
	}
}
@media (prefers-color-scheme: dark) {
	#comment-form-div {
		background-color: var(--color-bg);
		opacity: 0.9;
		img {
			filter: invert(80%);
		}
	}
}
