/* 内容 */

#content {
    max-width: $max_width;
}

#content {
    min-width: 200px;
    margin: auto;
    padding: 0 1em;
}

/* 文章 */
.post, .pages {
    /* 文章标题 */
    h1 {
        color: $post_title_fg_light;
		@media (prefers-color-scheme: dark) {
			color: $post_title_fg_dark;
		}
        font-size: 1.5em;
    }

    /* toolbar */
    .toolbar {
        margin-bottom: 1em;
    }

    /* 文章元数据 */
    .meta { 
        margin: 2em 0px 0px;

        a {
            color: inherit;

            &:visited {
                color: inherit;
            }
        }

        .value {
            color: $post_meta_fg;
        }

        .author {
            display: none;
        }
    }
}

/* 文章内容 */
@media screen and (max-width: $max_width) {
    .entry {
        padding: 0px 0px 16px;
    }
}
@media screen and (min-width: $max_width+1) {
    .entry {
        padding-bottom: 16px;
        line-height: 2em;
    }
}

@media screen and (max-width: $max_width) {
    .entry img {
        height: unset !important;
        max-width: 100%;
        max-height: 100%;
    }
}

.entry {
    display: block;
	color: $post_content_fg_light;
	@media (prefers-color-scheme: dark) {
		color: $post_content_fg_dark;
	}
    text-align: justify;
    margin-bottom: 3em;

     pre {
        box-sizing: border-box;
        overflow: auto;

        &:not(.code) {
            font-family: inherit;
        }

        &.wrap {
            white-space: pre-wrap;
        }

        &.no-wrap {
            white-space: pre;
        }

        &.mono {
            font-family: $mono_font;
        }
    }

    p {
        margin: 1em 0px;
    }

    a {
        &.external::after {
            content: "";
            margin-left: 5px;
            padding-left: 13px;
            background-image: url(/images/external-anchor.png);
            background-repeat: no-repeat;
            background-position: left center;
        }

        &:not([href]) {
            color: inherit;

            &:hover {
                cursor: default;
            }
        }
    }

    img {
        max-width: 100%;
        box-sizing: content-box;
        border: 1px solid transparent;

		&:hover {
			box-shadow: 0 0 5px gray;
			cursor: zoom-in;
		}

        &.shadow {
            box-shadow: 0px 0px 2px;
        }
    }

    /* 文章表格 */
    table {
        border-collapse: collapse;
		margin: 1em 0px;
		display: block;
		overflow: auto;

        th {
            background-color: #eee;
		}
		@media (prefers-color-scheme: dark) {
			th {
				background-color: #3e3e3e;
			}
		}

        td, th {
            border: 1px solid gray;
            padding: 0.5em;
            text-align: center;
        }

        &.no-border, &.no-border td {
            border: none;
        }

        &.enlarge-first-td td:first-child {
            padding-right: 1em;
        }
    }

    blockquote {
		background-color:rgba(0,0,0,.08);
		@media (prefers-color-scheme: dark) {
			& {
				background-color:#393939;
			}
		}
        padding:1px 1.5em;
        margin:1em 0;
        border-left:#ddd 9px solid;
		@media (prefers-color-scheme: dark) {
			& {
				border-left-color:#4a4a4a;
			}
		}
    }

    figure {
        text-align: center;
    }
    p > img:only-child {
        display: block;
        margin: auto;
        box-shadow: 0 0 3px gray;
    }
}

/* 目录 */
@media screen and (min-width: 600px) {
    .entry div.toc {
        position: fixed;
        box-sizing: border-box;
        padding: 10px;
        top: 3%;
        right: 20px;
        max-height: 94%;
        max-width: 300px;
        overflow: auto;
        border: 1px solid $toc_border_color;
        line-height: 1.5em;
		color: $toc_fg_light;
		background-color: $toc_bg_light;
		@media (prefers-color-scheme: dark) {
			color: $toc_fg_dark;
			background-color: $toc_bg_dark;
		}
		z-index: 1000;
    }
}

.entry {
    div.toc {
        h2, h3 {
            margin: 0px;
            font-size: 20px;
        }

        a {
            color: inherit;
            font-size: 12px;
        }

        a.active {
            text-decoration: underline;
        }

        ul:first-of-type {
            padding-left: 2em;
            margin-bottom: 0px;
        }
    }

    object.pdf {
        width: 100%;
        height: 600px;
        height: 100vh;
        opacity: 0.8;
    }

    li {
        text-align: initial;
    }
}

/* 相关文章推荐 */
.post .related {
    margin-bottom: 3em;
    h3 {
        border-bottom: 1px solid $border_color;
    }

    ol {
        line-height: 1.7em;
    }

    .no-related {
        margin: 2em 1em;
    }
}

.content_only {
    header {
        display: none;
    }
    .post {
        .meta,
        .related,
        #comments {
            display: none;
        }
    }
}

