/* 内容 */

#content {
    max-width: $max_width;
}

#content {
    min-width: 200px;
    margin: auto;
    padding: 0 1em;
}

/* 分类与日期查询 */
.query {
    padding: 0px 10px;

    ul.item-list {
        list-style: none;
        line-height: 1.5em;
        padding: 0 1em;

        .item h2 {
            margin: 0px;
            font-size: 1em;
        }
    }
}

/* 文章归档页面 */
.archives {
    overflow: hidden;
    > div:nth-child(n) {
        float: left;
        width: 30%;
        margin-right: 2%;
        min-width: 200px;
    }

    .tags {
        ul {
            list-style: none;
            line-height: 1.5em;
            padding-left: 2em;
            display: none;
            &.roots {
                padding-left: 0px;
                display: block;
            }
            li {
                &.tag {
                    > .tag-name {
                        cursor: pointer;
                        &.fa {
                            width: 1em;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
    .cats {
        ul {
            list-style: none;
            line-height: 1.5em;
            padding-left: 2em;
            display: none;
            &.roots {
                padding-left: 0px;
                display: block;
            }
            li {
                &.folder {
                    > .folder-name {
                        cursor: pointer;
                        &.fa {
                            width: 1em;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
    .date {
        ul {
            list-style: none;
            line-height: 1.5em;
            padding-left: 2em;
            display: none;
            &.roots {
                padding-left: 0px;
                display: block;
            }
            li {
                &.year-month {
                    > .datetime {
                        cursor: pointer;
                        &.fa {
                            width: 1em;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
}

/* 文章 */
.post, .pages {
    /* 文章标题 */
    h1 {
        color: $post_title_fg;
        font-size: 1.5em;
    }

    /* toolbar */
    .toolbar {
        margin-bottom: 1em;
    }

    /* 文章元数据 */
    .meta { 
        margin: 2em 0px 0px;

        a {
            color: inherit;

            &:visited {
                color: inherit;
            }
        }

        .value {
            color: $post_meta_fg;
        }

        .author {
            display: none;
        }
    }
}

/* 文章内容 */
@media screen and (max-width: $max_width) {
    .entry {
        padding: 0px 0px 16px;
    }
}
@media screen and (min-width: $max_width+1) {
    .entry {
        padding-bottom: 16px;
        line-height: 2em;
    }
}

@media screen and (max-width: $max_width) {
    .entry img {
        height: unset !important;
        max-width: 100%;
        max-height: 100%;
    }
}

.entry {
    display: block;
    color: $post_content_fg;
    text-align: justify;
    margin-bottom: 3em;

     pre {
        box-sizing: border-box;
        overflow: auto;

        &:not(.code) {
            font-family: inherit;
        }

        &.wrap {
            white-space: pre-wrap;
        }

        &.no-wrap {
            white-space: pre;
        }

        &.quote {
            padding: 1em;
            border: 1px dashed #ccc;
            background-color: $post_pre_quote_bg;
            white-space: pre-wrap;
        }

        &.mono {
            font-family: $mono_font;
        }
    }

    p {
        margin: 1em 0px;
    }

    a {
        &.external {
            margin-left: 5px;
            padding-left: 18px;
            background-image: url(/images/external-anchor.png);
            background-repeat: no-repeat;
            background-position: left center;
        }

        &:not([href]) {
            color: inherit;

            &:hover {
                cursor: default;
            }
        }
    }

    img {
        max-width: 100%;
        box-sizing: content-box;
        border: 1px solid transparent;

        &:not(.nz) {
            &:hover {
                box-shadow: 0 0 5px gray;
                cursor: zoom-in;
            }
        }

        &.shadow {
            box-shadow: 0px 0px 2px;
        }
    }

    /* 文章表格 */
    table {
        border: 1px solid gray;
        border-collapse: collapse;
        margin: 1em 0px;

        th {
            background-color: #eee;
        }

        td, th {
            border: 1px solid gray;
            padding: 0.5em;
            text-align: center;
        }

        &.no-border, &.no-border td {
            border: none;
        }

        &.enlarge-first-td td:first-child {
            padding-right: 1em;
        }
    }

    blockquote {
        background-color: rgba(0,0,0,0.08);
        padding: 1px 1.5em;
        margin: 0;
        border-left: gray 3px solid;
    }

    figure {
        text-align: center;
    }
    p > img:only-child {
        display: block;
        margin: auto;
        box-shadow: 0 0 3px gray;
    }
}

/* 目录 */
@media screen and (min-width: 600px) {
    .entry div.toc {
        position: fixed;
        box-sizing: border-box;
        padding: 10px;
        top: 3%;
        right: 20px;
        max-height: 94%;
        max-width: 300px;
        overflow: auto;
        border: 1px solid $toc_border_color;
        line-height: 1.5em;
        color: $toc_fg;
        background-color: $toc_bg;
    }
}

.entry {
    div.toc {
        h2, h3 {
            margin: 0px;
            font-size: 20px;
        }

        a {
            color: inherit;
            font-size: 12px;
        }

        a.active {
            text-decoration: underline;
        }

        ul:first-of-type {
            padding-left: 2em;
            margin-bottom: 0px;
        }
    }

    object.pdf {
        width: 100%;
        height: 600px;
        height: 100vh;
        opacity: 0.8;
    }

    li {
        text-align: initial;
    }
}

/* 相关文章推荐 */
.post .related {
    margin-bottom: 3em;
    h3 {
        border-bottom: 1px solid $border_color;
    }

    ol {
        padding-left: 2em;
        line-height: 1.7em;
    }

    .no-related {
        margin: 2em 1em;
    }
}

.content_only {
    header {
        display: none;
    }
    .post {
        .meta,
        .related,
        #comments {
            display: none;
        }
    }
}

