/* 内容 */

#content {
    max-width: var(--max-width);
}

#content {
    min-width: 200px;
    margin: auto;
    padding: 0 1em;
}

/* 文章 */
.post, .pages {
    /* 文章标题 */
    h1 {
        color: var(--title-fg);
        font-size: 1.5em;
    }

    /* toolbar */
    .toolbar {
        margin-bottom: 1em;
    }

    /* 文章元数据 */
    .meta { 
        margin: 2em 0px 0px;

        a {
            color: inherit;

            &:visited {
                color: inherit;
            }
        }

        .value {
            color: var(--post-meta-fg);
        }

        .author {
            display: none;
        }
    }
}

/* 文章内容 */
@media screen and (max-width: $max_width) {
    .entry {
        padding: 0px 0px 16px;
    }
}
@media screen and (min-width: $max_width+1) {
    .entry {
        padding-bottom: 16px;
        line-height: 2em;
    }
}

@media screen and (max-width: $max_width) {
    .entry img {
        height: unset !important;
        max-width: 100%;
        max-height: 100%;
    }
}

.entry {
    display: block;
	color: var(--post-fg);
    text-align: justify;
    margin-bottom: 3em;

     pre {
        box-sizing: border-box;
        overflow: auto;

        &:not(.code) {
            font-family: inherit;
        }

        &.wrap {
            white-space: pre-wrap;
        }

        &.no-wrap {
            white-space: pre;
        }

        &.mono {
			font-family: var(--mono-font);
        }
    }

    p {
        margin: 1em 0px;
    }

    a {
        &.external::after {
            content: "";
            margin-left: 5px;
            padding-left: 13px;
            background-image: url(/images/external-anchor.png);
            background-repeat: no-repeat;
            background-position: left center;
        }

        &:not([href]) {
            color: inherit;

            &:hover {
                cursor: default;
            }
        }
    }

    img {
        max-width: 100%;
        box-sizing: content-box;
        border: 1px solid transparent;

		&:hover {
			box-shadow: 0 0 5px gray;
			cursor: zoom-in;
		}

        &.shadow {
            box-shadow: 0px 0px 2px;
        }
    }

    /* 文章表格 */
    table {
        border-collapse: collapse;
		margin: 1em 0px;
		display: block;
		overflow: auto;

        th {
            background-color: var(--table-head-color);
		}

        td, th {
            border: var(--table-border);
            padding: 0.5em;
        }

        &.no-border, &.no-border td {
            border: none;
        }
	}

    blockquote {
		background-color: var(--blockquote-color-bg);
        padding:1px 1.5em;
        margin:1em 0;
		border-left: var(--blockquote-border-left);
    }

    figure {
        text-align: center;
    }
    p > img:only-child {
        display: block;
        margin: auto;
        box-shadow: var(--box-shadow);
    }
}

/* 目录 */
@media screen and (min-width: 600px) {
    .entry div.toc {
        position: fixed;
        box-sizing: border-box;
        padding: 1rem;
        top: 1rem;
        right: 1rem;
        max-height: 45%;
        max-width: 320px;
        overflow: auto;
        border: 1px solid var(--border-color);
        line-height: 1.5em;
		color: var(--color-fg);
		background-color: var(--color-bg);
		z-index: 1000;
		opacity: 0.88;
    }
}

.entry {
    div.toc {
        .h2 {
            margin: 0px;
            font-size: 20px;
        }

        a {
            color: inherit;
            font-size: 12px;
        }

        a.active {
            text-decoration: underline;
        }

        ul:first-of-type {
            padding-left: 1em;
            margin-bottom: 0px;
        }
    }

    object.pdf {
        width: 100%;
        height: 600px;
        height: 80vh;
        opacity: 0.8;
    }

    li {
        text-align: initial;
    }
}

/* 相关文章推荐 */
.post .related {
    margin-bottom: 3em;
    h3 {
        border-bottom: 1px solid var(--border-color);
    }

    .no-related {
        margin: 2em 1em;
    }
}

.content_only {
    header {
        display: none;
    }
    .post {
        .meta,
        .related,
        #comments {
            display: none;
        }
    }
}

