/* 底部 */
@media screen and (min-width: $max_width+1) {
    #mobile-footer {
        display: none;
    }
}

@media screen and (max-width: $max_width) {
    #mobile-footer {
        border-top: 1px solid $border_color;
        margin-top: 10px;
        padding: 10px;
        text-align: center;
    }
}

