/* 头部 */

#header .content {
    max-width: var(--max-width);
}

#header {
	background-color: rgba(0,0,0,0.8);
    .content {
        min-width: 200px;
        margin: auto;
        padding: 2em 1em 0;
        overflow: hidden;

        .padding {
            position: relative;
        }

        .sitename {
            margin: 0px;
            color: white;
            font-size: 2em;

            a {
                color: inherit;
                &:hover {
                    text-decoration: none;
                    color: var(--a-fg);
                }
                &:focus {
                    outline: 0;
                }
            }
        }

        .motto {
            color: white;
        }

        .nav {
            a {
                transition: all 0.2s;
                text-decoration: none;
                color: inherit;

                &:visited {
                    color: inherit;
                }

                &:focus {
                    outline: 0;
                }

                &:active {
                    color: inherit;
                }

                &:hover {
                    color: var(--a-fg);
                }
            }

            > ol {
                margin: 0px 0px 1px;
                padding-left: 0px;
                list-style: none;

                > li {
                    display: inline-block;
                    margin-left: 0.5em;
                    color: #A0A0A0;
					line-height: 2em;
                }
            }
        }

        .search {
            input {
                color: #fff6;
                border: 1px solid #a9a9a933;
                background-color: transparent;
				border-radius: var(--border-radius);
                padding:  4px 6px;
                width: 100px;
				height: 2em;
            }
        }
    }
}

@media screen and (max-width: $max_width) {
    #header .content {
        text-align: center;
    }
}

@media screen and (min-width: $max_width+1) {
    #header {
        .content {
            .motto {
                padding-left: 2em;
            }
            .nav {
                float: right;
                clear: both;
            }
            .search {
                position: absolute;
                right: 10px;
				top: 10px;
				input {
					position: relative;
				}
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
	.dark-moon::after {
		content: " 🌙";
	}
}
