/* 底部工具栏 */
.footer-toolbar {
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-sizing: border-box;
}

/* 回到顶部 */
.back-to-top {
    display: none;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    filter: opacity(70%);
    &:hover {
        filter: opacity(100%);
    }
}

/* 图片查看 */
#img-view {
    position: fixed;
    z-index: 1000000;
    display: none;
    background-color: var(--toolbar-imgview-bg);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    cursor: zoom-out;

    > img {
        cursor: move;
        position: relative;
        left: 0px;
        top: 0px;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select:none;
    }

    > .tool {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 3px;
        text-align: center;
        color: aliceblue;
        text-shadow: 0 0 3px #ff608d;
    }
}

