/* https://katex.org/docs/issues.html#css-customization */
.katex-display {
	overflow: auto hidden;
}

/* 图片查看器的冲突 */
.katex svg {
	cursor: inherit;
	/* 夜间模式的 brightness: 0.7 冲突了。 */
	filter: unset !important;
}

// 超级长的数学公式会溢出。
// span.katex:has(math[display=block]) {
// 	display: block;
// 	overflow: auto;
// }
// span.katex:has(math):not(:has(math[display=block])) {
// 	display: inline-block;
// 	overflow: auto;
// 	max-width: 100%;
// }
