.gallery {
	margin: 1rem 0;
	container-type: inline-size;

	// 不要改成 > *，LivePhoto 会乱。
	> img, > div {
		box-sizing: border-box;
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);
		object-fit: cover; // 针对 img
		margin: unset; // 针对 live photo
	}

	// 内部的，比如实况，不应该加圆角。
	// 否则会因为边框的原因导致内径小一，圆角就不对。
	> * {
		img, video {
			border-radius: unset;
		}
	}
}

.gallery {
	// 人生第一次使用 display: grid
	display: grid;
	gap: 1px;
	// 本来是 auto-fit，但 Safari 不支持。
	grid-template-columns: repeat(auto-fill, 150px);
	> img, > div {
		display: flex;
		// important 是针对默认有 ratio 的 live photo 的
		// 对 img 竟然也有效。
		aspect-ratio: 1 !important;
		width: 100% !important;
	}
}

// 手机上显示3张？
// 150px * 3 + gap * 2
@container (max-width: 452px) {
	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}
}
